/* -----------------------------------------
   Icons
   ----------------------------------------- */

.icon {
    display: inline-block;
    fill: currentColor;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}

.icon--21-23 {
    height: 21px;
    width: 23px;
}

.icon--20-20 {
    height: 20px;
    width: 20px;
}

.icon--16-16 {
    height: 16px;
    width: 16px;
}

.icon--9-9 {
    height: 9px;
    width: 9px;
}

.icon--27-27 {
    height: 27px;
    width: 27px;
}

.icon--18-21 {
    width: 18px;
    height: 21px;
}

.icon--arrow-right-reverse {
    transform: rotate(180deg);
}

.icon-rounded-wrap {
    color: #1d1d1b;
    font-weight: 500;

    &:hover {

        .icon-rounded {
            transform: scale(1.1);
        }
    }
}

.icon-rounded {
    align-items: center;
    background-color: $color-secondary;
    border-radius: 50%;
    color: #fff;
    display: inline-flex;
    height: 21px;
    justify-content: center;
    margin-right: 3px;
    vertical-align: middle;
    width: 21px;
    transition: all .2s ease-in-sine();
}