// /**
//  * Owl Carousel v2.3.4
//  * Copyright 2013-2018 David Deutsch
//  * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
//  */
// /*
//  *  Owl Carousel - Core
//  */
// .owl-carousel {
//   display: none;
//   width: 100%;
//   -webkit-tap-highlight-color: transparent;
//   /* position relative and z-index fix webkit rendering fonts issue */
//   position: relative;
//   z-index: 1; }
//   .owl-carousel .owl-stage {
//     position: relative;
//     -ms-touch-action: pan-Y;
//     touch-action: manipulation;
//     -moz-backface-visibility: hidden;
//     /* fix firefox animation glitch */ }
//   .owl-carousel .owl-stage:after {
//     content: ".";
//     display: block;
//     clear: both;
//     visibility: hidden;
//     line-height: 0;
//     height: 0; }
//   .owl-carousel .owl-stage-outer {
//     position: relative;
//     overflow: hidden;
//     /* fix for flashing background */
//     -webkit-transform: translate3d(0px, 0px, 0px); }
//   .owl-carousel .owl-wrapper,
//   .owl-carousel .owl-item {
//     -webkit-backface-visibility: hidden;
//     -moz-backface-visibility: hidden;
//     -ms-backface-visibility: hidden;
//     -webkit-transform: translate3d(0, 0, 0);
//     -moz-transform: translate3d(0, 0, 0);
//     -ms-transform: translate3d(0, 0, 0); }
//   .owl-carousel .owl-item {
//     position: relative;
//     min-height: 1px;
//     float: left;
//     -webkit-backface-visibility: hidden;
//     -webkit-tap-highlight-color: transparent;
//     -webkit-touch-callout: none; }
//   .owl-carousel .owl-item img {
//     display: block;
//     width: 100%; }
//   .owl-carousel .owl-nav.disabled,
//   .owl-carousel .owl-dots.disabled {
//     display: none; }
//   .owl-carousel .owl-nav .owl-prev,
//   .owl-carousel .owl-nav .owl-next,
//   .owl-carousel .owl-dot {
//     cursor: pointer;
//     -webkit-user-select: none;
//     -khtml-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none; }
//   .owl-carousel .owl-nav button.owl-prev,
//   .owl-carousel .owl-nav button.owl-next,
//   .owl-carousel button.owl-dot {
//     background: none;
//     color: inherit;
//     border: none;
//     padding: 0 !important;
//     font: inherit; }
//   .owl-carousel.owl-loaded {
//     display: block; }
//   .owl-carousel.owl-loading {
//     opacity: 0;
//     display: block; }
//   .owl-carousel.owl-hidden {
//     opacity: 0; }
//   .owl-carousel.owl-refresh .owl-item {
//     visibility: hidden; }
//   .owl-carousel.owl-drag .owl-item {
//     -ms-touch-action: pan-y;
//         touch-action: pan-y;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none; }
//   .owl-carousel.owl-grab {
//     cursor: move;
//     cursor: grab; }
//   .owl-carousel.owl-rtl {
//     direction: rtl; }
//   .owl-carousel.owl-rtl .owl-item {
//     float: right; }

// /* No Js */
// .no-js .owl-carousel {
//   display: block; }

// /*
//  *  Owl Carousel - Animate Plugin
//  */
// .owl-carousel .animated {
//   animation-duration: 1000ms;
//   animation-fill-mode: both; }

// .owl-carousel .owl-animated-in {
//   z-index: 0; }

// .owl-carousel .owl-animated-out {
//   z-index: 1; }

// .owl-carousel .fadeOut {
//   animation-name: fadeOut; }

// @keyframes fadeOut {
//   0% {
//     opacity: 1; }
//   100% {
//     opacity: 0; } }

// /*
//  * 	Owl Carousel - Auto Height Plugin
//  */
// .owl-height {
//   transition: height 500ms ease-in-out; }

// /*
//  * 	Owl Carousel - Lazy Load Plugin
//  */
// .owl-carousel .owl-item {
//   /**
// 			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
// 			calculation of the height of the owl-item that breaks page layouts
// 		 */ }
//   .owl-carousel .owl-item .owl-lazy {
//     opacity: 0;
//     transition: opacity 400ms ease; }
//   .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
//     max-height: 0; }
//   .owl-carousel .owl-item img.owl-lazy {
//     transform-style: preserve-3d; }

// /*
//  * 	Owl Carousel - Video Plugin
//  */
// .owl-carousel .owl-video-wrapper {
//   position: relative;
//   height: 100%;
//   background: #000; }

// .owl-carousel .owl-video-play-icon {
//   position: absolute;
//   height: 80px;
//   width: 80px;
//   left: 50%;
//   top: 50%;
//   margin-left: -40px;
//   margin-top: -40px;
//   background: url("owl.video.play.png") no-repeat;
//   cursor: pointer;
//   z-index: 1;
//   -webkit-backface-visibility: hidden;
//   transition: transform 100ms ease; }

// .owl-carousel .owl-video-play-icon:hover {
//   -ms-transform: scale(1.3, 1.3);
//       transform: scale(1.3, 1.3); }

// .owl-carousel .owl-video-playing .owl-video-tn,
// .owl-carousel .owl-video-playing .owl-video-play-icon {
//   display: none; }

// .owl-carousel .owl-video-tn {
//   opacity: 0;
//   height: 100%;
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: contain;
//   transition: opacity 400ms ease; }

// .owl-carousel .owl-video-frame {
//   position: relative;
//   z-index: 1;
//   height: 100%;
//   width: 100%; }


  .tns-outer{padding:0 !important}.tns-outer [hidden]{display:none !important}.tns-outer [aria-controls],.tns-outer [data-action]{cursor:pointer}.tns-slider{-webkit-transition:all 0s;-moz-transition:all 0s;transition:all 0s}.tns-slider>.tns-item{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.tns-horizontal.tns-subpixel{white-space:nowrap}.tns-horizontal.tns-subpixel>.tns-item{display:inline-block;vertical-align:top;white-space:normal}.tns-horizontal.tns-no-subpixel:after{content:'';display:table;clear:both}.tns-horizontal.tns-no-subpixel>.tns-item{float:left}.tns-horizontal.tns-carousel.tns-no-subpixel>.tns-item{margin-right:-100%}.tns-no-calc{position:relative;left:0}.tns-gallery{position:relative;left:0;min-height:1px}.tns-gallery>.tns-item{position:absolute;left:-100%;-webkit-transition:transform 0s, opacity 0s;-moz-transition:transform 0s, opacity 0s;transition:transform 0s, opacity 0s}.tns-gallery>.tns-slide-active{position:relative;left:auto !important}.tns-gallery>.tns-moving{-webkit-transition:all 0.25s;-moz-transition:all 0.25s;transition:all 0.25s}.tns-autowidth{display:inline-block}.tns-lazy-img{-webkit-transition:opacity 0.6s;-moz-transition:opacity 0.6s;transition:opacity 0.6s;opacity:0.6}.tns-lazy-img.tns-complete{opacity:1}.tns-ah{-webkit-transition:height 0s;-moz-transition:height 0s;transition:height 0s}.tns-ovh{overflow:hidden}.tns-visually-hidden{position:absolute;left:-10000em}.tns-transparent{opacity:0;visibility:hidden}.tns-fadeIn{opacity:1;filter:alpha(opacity=100);z-index:0}.tns-normal,.tns-fadeOut{opacity:0;filter:alpha(opacity=0);z-index:-1}.tns-vpfix{white-space:nowrap}.tns-vpfix>div,.tns-vpfix>li{display:inline-block}.tns-t-subp2{margin:0 auto;width:310px;position:relative;height:10px;overflow:hidden}.tns-t-ct{width:2333.3333333%;width:-webkit-calc(100% * 70 / 3);width:-moz-calc(100% * 70 / 3);width:calc(100% * 70 / 3);position:absolute;right:0}.tns-t-ct:after{content:'';display:table;clear:both}.tns-t-ct>div{width:1.4285714%;width:-webkit-calc(100% / 70);width:-moz-calc(100% / 70);width:calc(100% / 70);height:10px;float:left}

/*# sourceMappingURL=sourcemaps/tiny-slider.css.map */
//property slider
.property-slider {
    position: relative;
    
    img {
        width: 100%;
    }

    .tns-controls {
        position: absolute;
        top: 50%;
        z-index: 20;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        font-size: 0;
    }

    [data-controls='prev'],
    [data-controls='next'] {
        background-color: #fff;
        border: none;
        border-radius: 50%;
        height: 30px;
        position: relative;
        width: 30px;

        &:focus {
            outline: none;
        }

        &:before,
        &:after {
            content: '';
            height: 2px;
            width: 8px;
            background-color:#7b7b7b;
            position: absolute;
        }
    }

    [data-controls='next'] {
        &:before {
            transform: rotate(-135deg);
            top: 11px;
            right: 9px;
        }

        &:after {
            transform: rotate(135deg);
            bottom: 12px;
            right: 9px;
        }
    }

    [data-controls='prev'] {
        &:before {
            transform: rotate(135deg);
            top: 11px;
            right: 11px;
        }

        &:after {
            transform: rotate(-135deg);
            bottom: 11px;
            left: 11px;
        }
    }

    .tns-nav {
        position: absolute;
        bottom: 0;
        z-index: 20;
        left: 50%;
        transform: translateX(-50%);

        button {
            background-color: #fff;
            border-radius: 50%;
            display: inline-block;
            border: none;
            height: 10px;
            width: 10px;
            margin: 0 3px;
            padding: 0;

            &:focus {
                outline: none;
            }
        }

        .tns-nav-active {
            background-color: #aaaaaa;
        }
    }   
}