/* -----------------------------------------
   Container
   ----------------------------------------- */

.container,
.container-medium {
    margin: 0 auto;
    padding-left:  $spacing-unit;
    padding-right: $spacing-unit;
}

.container {
    max-width: $page-max-width + ($spacing-unit * 2);
}

.container-medium {
    max-width: 852px + ($spacing-unit * 2);
}
