/* -----------------------------------------
   Search
   ----------------------------------------- */

.search-menu-active {

    &:before {
        background-color: rgba(#000, .2);
        bottom: 0;
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 40;
    }
}

.search-wrap {
    @include breakpoint(min-tablet) {
        align-items: center;
        display: flex;
    }
}

.search {
    display: flex;

    @include breakpoint(tablet) {
        padding-top: 5px;
        justify-content: center;
    }
}

.search-item {
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.search-item-distance {
    pointer-events: none;
}

.search-item-trigger {
    border-radius: 13px;
    background-color: #ffffff;
    border: 1px solid #707070;
    color: #000;
    font-weight: 300;
    padding: 4px 27px;

    &:hover {
        color: $color-secondary;
        border-color: $color-secondary;
        text-decoration: none;
    }
}

.search-item {
    position: relative;

    &:last-child {
        @include breakpoint(tablet) { 

            .search-form {
                left: auto;
                transform: none;
                right: 0;
            }
        }
       
    }

    &:first-child {
        @include breakpoint(tablet) {
            .search-form {
                left: 0;
                transform: none;
            }
        }
    }
}

.search-form {
    background-color: #fff;
    box-shadow: 0px 5px 8.5px rgba(159,156,156,0.16);
    border-radius: 10px;
    display: none;
    min-width: 250px;
    left: 50%;
    top: calc(100% + 40px);
    position: absolute;
    transform: translateX(-50%);

    .is-active & {
        display: block;
    }
}

.search-fields {
    max-height: 300px;
    overflow-y: auto;
    padding: 20px 15px;
}

.search-nav {
    border-top: 1px solid gainsboro;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.clear-form {
    color: #acacac;
}

//Distance slider
.distance-slider-wrap {
    margin-bottom: 15px;
    margin-right: 15px;
    
    .ui-widget-header {
        background-color: #3C3D3B !important;
    }

    .ui-slider-horizontal {
        border: none;
        height: 6px;
    }

    .ui-slider-horizontal .ui-slider-handle {
        border: none !important;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 2px 15px gainsboro;
        top: -13px;
        text-align: center;
        line-height: 28px;

        &:before {
            content: '\2194';
            color: #000;
        }

        &:focus {
            outline: none;
            background-color: #fff;
        }
    }

}
.distance-slider {
    background-color: #DADADA;
    max-width: 220px;
}

.distance-data {
    border: none;
    text-align: center;
    display: block;
    margin: 10px auto 20px;
}
