/* -----------------------------------------
   Shortlist
   ----------------------------------------- */

.shortlist {
    background-color: #f8f8f8;
    padding: 45px 0;
    position: relative;
    z-index: 30;

     @include breakpoint(min-tablet) {
        padding: 90px 0;
    }

    .shortlist-item-empty {
        align-items: center;
        border: 1px solid #707070;
        display: flex;
        font-size: 30px;
        color: #3c3c3b;
        font-weight: 300;
        justify-content: center;
    }
    
    .shortlist-info {
        padding-bottom: 30px;
        
        @include breakpoint(min-tablet) {
            max-width: 40%;
            width: 40%;
            padding-right: 55px;
            padding-bottom: 0;
        }
    }
}

.shortlist-inner {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 11px rgba(168,168,168,0.16);
    padding: 5%;

    @include breakpoint(min-tablet) {
        align-items: flex-end;
        display: flex;
        padding: 40px 50px;
    }
}

.shortlist-info-title {
    color: $color-secondary;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 25px;
}

.shortlist-info-desc {
    font-size: 19px;
    font-weight: 300;
    line-height: 26px;
    color: #60605f;
    padding-bottom: 20px;

    @include breakpoint(min-tablet) {
        padding-bottom: 42px;
    }
}

.shortlist-items {
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    
    @include breakpoint(min-tablet) {
        max-width: 60%;
        width: 60%;
    }
}

.shortlist-item {
    min-height: 75px;
    max-width: 124px;
}

.shortlist-remove-btn {
    font-size: 11px;
}

.shortlist-img {
    object-fit: cover;
    height: 75px;
    margin-bottom: 3px;
    width: 100%;
}

.shortlist-property-name {
    color: #000;
    font-weight: 600;
    line-height: 15px;
}