/* -----------------------------------------
   Buttons
   ----------------------------------------- */


$btn-primary-height:                        45px;
$btn-primary-bg:                            $color-secondary;

.btn {
    transition: all .2s ease;
    user-select: none;
    background: none;
    border: none;
    display: inline-block;
    line-height: normal;
    margin: 0;                   /* remove margin for some browsers */
    padding: 0;                  /* remove padding in Firefox */
    text-decoration: none;
    text-shadow: none;
    vertical-align: middle;
    white-space: nowrap;

    &:hover {
        cursor: pointer;
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }
}


/**
 * Primary button.
 */
.btn-primary {
    -webkit-font-smoothing: inherit;
    background-color: $btn-primary-bg;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    padding: 10px 50px;

    /**
     * @disabled
     */
    &:disabled {
        opacity: 0.5;
        cursor: default !important;
    }
}

.btn-small {
    font-size: 11px;
    padding: 8px 24px;
}
