/* -----------------------------------------
   Header
   ----------------------------------------- */
$container-spacing: 15px;

.header {
    box-shadow: 0px 5px 8.5px rgba(159,156,156,0.16);
    background-color: #fff;
    left: 0;
    padding: 15px 0;
    position: fixed;
    right: 0;
    z-index: 40;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $page-max-width + ($container-spacing * 2);
    margin: 0 auto;
    padding: 0  $container-spacing;

    @include breakpoint(min-tablet) {
        display: grid;
        grid-template-columns: 170px 1fr;
    }
}

.logo {
    flex-shrink: 0;
}

.short-list-link {
    color: $color-secondary;
    font-weight: 500;
    position: relative;
    
    &:after {
        content: '';
        bottom: -2px;
        height: 1px;
        left: 28px;
        transition: background-color .2s ease;
        position: absolute;
        right: 0;
    }

    &:hover {

        &:after {
            background-color: $color-secondary;
        }
    }
}

.contact-phone {
    color: #000;
    font-size: 15px;
    font-weight: 500;

    @include breakpoint(min-tablet) {
        margin-left: 84px;
    }
}

//nav menu
.nav-main {

    @include breakpoint(tablet) {
        background-color: white;
        box-shadow: 0px 5px 8.5px rgba(159,156,156,0.16);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        left: 0;
        top: 100%;
        right: 0;
        position: absolute;
        visibility: hidden;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        padding: 0 15px 30px;
        transition: max-height 1s ease, opacity .3s ease, visibility .4s ease;
        z-index: 100;

        .menu-is-active & {
            max-height: 1000px;
            opacity: 1;
            overflow: visible;
            visibility: visible;
        }
    }
    
    @include breakpoint(min-tablet) {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}

.nav-right {

    @include breakpoint(tablet) {
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        order: -1;
        padding-bottom: 20px;
    }
}

.nav-menu {
    display: block;
    position: relative;
    height: 20px;
    width: 25px;

    @include breakpoint(min-tablet) {
        display: none;
    }
}

.nav-burger {
    background-color: $color-secondary;
    display: inline-block;
    height: 2px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .25s ease;
    width: 25px;

    .menu-is-active & {
        background-color: transparent;
    }
    
    &:before, 
    &:after {
        content:'';
        background-color: $color-secondary;
        display: block;
        width: 25px;
        height: 2px;
        position: absolute;
        transition: all .25s ease;

        .menu_active & {
            top: 0;
        }
    }

    &:before {
        top: -7px;

        .menu-is-active & {
            top: 2px;
            transform: rotate(45deg);
        }
    }

    &:after {
        top: 7px;

        .menu-is-active & {
            top: 2px;
            transform: rotate(-45deg);
        }
    }
}