/* -----------------------------------------
   Properties map
   ----------------------------------------- */

.properties-map {
    position: relative;
    width: 100%;

    @include breakpoint(min-tablet) {
        max-width: 35%;
        width: 35%;
    }

    .phone {
        bottom: 30px;
        right: 20px;
        position: absolute;
        z-index: 11;
        
        @include breakpoint(min-tablet) {
            position: fixed;
            bottom: 60px;
            right: 40px;
        }
    }
    
    .icon-phone-rounded {
        background-color: $color-secondary;
        border-radius: 50%;
        color: #fff;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;

        &:hover {

            .phone-popup {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .phone-popup {
        background: #000;
        border-radius: 10px;
        position: absolute;
        right:  calc(100% + 10px);
        padding: 10px 25px;
        min-width: 150px;
        bottom: 20%;
        line-height: normal;
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease-in-sine();

        &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 15px 0 15px 15px;
            border-color: transparent transparent transparent #000000;
            position: absolute;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .infobox-image {
        max-width: 150px;
    }

    .infobox-title {
        font-size: 12px;
        text-align: center;
        padding: 16px 0 7px;
        max-width: 150px;
    }

    .gm-style-iw-c {
        padding: 0;
    }

    .gm-style-iw-d  {

        + button {
            display: none !important;
        }
    }

    .gm-style .gm-style-iw-d {
        overflow: auto !important;
        padding: 12px;
    }

}


#map {
    width: 100%;
    padding-bottom: 100%;
    
    @include breakpoint(min-tablet) {
        position: fixed !important;
        top: 60px;
        bottom: 0;
        right: 0;
        z-index: 10;
        max-width: 35%;
        width: 35%;
        padding-bottom: 0;
    }
}

.maps {
    padding-bottom: 50%;
}

.map-wrap {
    position: relative;
}

.street-view-link {
    position: absolute;
    top: 10px;
    padding: 4px;
    z-index: 1;
    left: 115px;
    background: white;
    color: #565656;
}

.gm-style-mtc {

    button {
        padding: 8px 7px !important;
        height: auto !important;
        box-shadow: none !important;
        font-size: 14px !important;
        border-radius: 0 !important;

        &[aria-pressed="true"] {
            box-shadow: inset 0px -3px 0px 0px #f95658 !important;
        }
    }
}