/* -----------------------------------------
   Shortlist overlay
   ----------------------------------------- */

.shortlist-overlay {
    background-color: white;
    bottom: 0;
    position: fixed;
    padding: 60px 6% 0;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform .3s ease-in-quad();
    z-index: 200;
    width: 100%;
    
    @include breakpoint(min-tablet) {
        padding: 6% 3% 0;
        width: 400px;
    }
    
    .overlay-is-active & {
        transform: translateX(0);
    }

    .shortlist-info {
        max-width: 255px;
        padding-bottom: 35px;
    }

    .shortlist-items {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        
        @include breakpoint(min-tablet) {
            max-width: 255px;
        }
    }

    .shortlist-item {
        border: none;
        max-width: 100%;
    }
    
    .shortlist-item-empty {
        background-color: #f8f8f8;
        font-size: 0;
    }
}

.overlay-is-active {
    &:before {
        content: '';
        background-color: rgba(#000, .4);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
    }
}

.close-shortlist-overlay {
    align-items: center;
    justify-content: center;
    border: 1px solid #80807E;
    border-radius: 50%;
    color: #80807E;
    display: flex;
    height: 40px;
    width: 40px;
    padding: 10px;
    position: fixed;
    right: 30px;
    top: 20px;
    
    @include breakpoint(min-tablet) {
        right: 45px;
    }
}

.shortlist-step,
.shortlist-step-last {
    display: none;

    &.is-active {
        display: block;
    }
}

// Hide navigation on form step
.is-active[data-index='1'] {
    ~ .shortlist-steps-nav {
        display: none;
    }
}

//Thank you page active
.is-active-thank-you-page {
    overflow: hidden;

    .thank-you-bg {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        bottom: 0;
        left: 0;
        position: fixed;
        top: 0;
        width: 75%;
        z-index: 200;
    }
}

//Steps
.shortlist-step-title {
    color: $color-secondary;
    font-size: 23px;
    font-weight: 300;
    padding-bottom: 10px;
}

.shortlist-step-desc {
    color: #1E1D1C;
    font-size: 23px;
    font-weight: normal;
    line-height: 1.1;
    padding-bottom: 30px;
}

.shortlist-steps-nav {
    bottom: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.next-step-btn {
    margin-bottom: 40%;

    &.is-not-valid {
        opacity: .5;
    }
}

//Thank you page
.thankyou-subtitle {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 17px;
    line-height: normal;
}

.thankyou-text {
    font-size: 16px;
    line-height: normal;
    padding-bottom: 50px;
}

.thankyou-schedule {
    border-top: 1px solid $color-secondary;
    color: #1d1d1b;
    font-weight: 500;
    line-height: normal;
    padding-top: 15px;
    padding-right: 30px;
}