/* -----------------------------------------
   Properties list
   ----------------------------------------- */

$calcPaddingLeft: calc((100vw - 1089px)/2);

.properties {
    
    @include breakpoint(min-tablet) {
        display: flex;
        flex-direction: column;
        max-width: 65%;
        padding-bottom: 60px;
        width: 65%;
    }

    .property-list-item {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: $calcPaddingLeft;
        position: relative;

        &:not(:last-child) {

            &:after {
                content: '';
                background-color: #bababa;
                height: 1px;
                right: 0;
                left: $calcPaddingLeft;
                position: absolute;
                bottom: 0px;
            }
        }

        &.is-expanded-single {
            padding-left: 0;

            &:not(:last-child) {
                &:after {
                    left: 0;
                }
            }

            .expand-property-btn,
            .property-img,
            .property-facilities,
            .icon-rounded-wrap {
                display: none;
            }

            .property-desc,
            .property-slider,
            .property-features-location,
            .shrink-property,
            .tabs-nav,
            .property-info-bottom {
                display: block;
            }

            .property-name {
                cursor: none;
                pointer-events: none;
            }
            
            .property-actions {
                order: -1;
                flex-direction: row-reverse;
                
                @include breakpoint(min-tablet) {
                    align-self: flex-start;
                    flex-direction: column;
                    order: initial;
                }
            }
        }
    }
}

.properties-intro {
    padding: 20px 15px 20px;

    @include breakpoint(min-tablet) {
        padding: 40px 20% 20px $calcPaddingLeft;
    }
}

.properties-title {
    color: $color-secondary;
    font-weight: normal;
    padding-bottom: 10px;
}

.properties-desc {
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    color: #60605f;
}

.property-persons {
    font-size: 14px;
    line-height: 17px;
    color: #1d1d1b;
    font-weight: 500;
    padding-bottom: 10px;
}

.property-data {
    
    @include breakpoint(min-tablet) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.columns {
    columns: 100px 2;
}

.property-name {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;

    @include breakpoint(tablet) {
        padding-top: 10px;
    }
}

.distance-from-address {
    color: $color-secondary;
    font-size: 13px;
    font-weight: 500;
}

.property-price {
    color: $color-secondary;
}

.property-list {
    padding: 0 15px;
    
    @include breakpoint(min-tablet) {
        padding: 0 10% 30px 0;
        padding-right: 10%;
        padding-bottom: 30px;
    }
}

.shortlist-btn-add,
.shortlist-btn-remove {
    border-radius: 3px;
    color: #fff;
    display: block;
    font-weight: 500;
    padding: 5px 15px;
}

.shortlist-btn-remove {
    background-color: $color-primary;

    &:hover {
        background-color: darken($color-primary, 5%);
    }
}

.shortlist-btn-add {
    background-color: $color-secondary;

    &:hover {
        background-color: darken($color-secondary, 5%);
    }
}

.open-shortlist {
   
    @include breakpoint(min-tablet) {
        margin-bottom: 35px;
        white-space: nowrap;
    }
}

.property-img-wrap {
    overflow: hidden;
}

.property-img {
    transition: all .2s ease-in-sine();
    width: 100%;

    &:hover {
        transform: scale(1.06);
    }
}

.view-all-properties-holder {
    display: none;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;

    @include breakpoint(min-tablet) {
        padding-bottom: 0;
        padding-top: 0;
        padding-left: $calcPaddingLeft;
    }
}

.view-all-properties {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid $color-secondary;
    color: #1d1d1b;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 40px;

    &:hover {
        background-color: $color-secondary;
        color: #fff;
    }
}

.property-slider,
.property-desc,
.property-features-location,
.shrink-property,
.tabs-nav {
    display: none;
}

.property-info {
    
    @include breakpoint(min-tablet) {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-column-gap: 26px;
        grid-area: 1 / 1 / 2 / 3;
    }

    @include breakpoint(min-laptop-large) {
        grid-template-columns: 0.6fr 1fr;
    }
}

.property-right {
    display: flex;
    flex-direction: column;
    
    @include breakpoint(min-tablet) {
        display: grid;
        grid-template-columns: 65% 1fr;
        grid-row-gap: 20px;
        overflow: hidden;
    }
}

.property-actions {
    align-items: center;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: space-between;
    
    @include breakpoint(min-tablet) {
        align-self: flex-end;
        align-items: flex-end;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.property-desc {
    line-height: 1.6;
    padding-bottom: 10px;
}

.property-info-bottom {
    display: none;
}

.property-name,
.property-img {
    cursor: pointer;
}

.toggle-text {
    display: none;

    &.is-active {
        display: block;
    }
}

.toggle-properties {
    background-color: #1d1d1b;
    border-radius: 0 3px 3px 0;
    color: #fff;
    display: none;
    font-weight: 500;
    font-size: 11px;
    position: fixed;
    padding: 5px 15px 5px 20px;
    top: 45%;
    left: 0;
    z-index: 100;
    margin-left: -5px;

    &.is-active {
        display: block;
    }

    @include breakpoint(min-tablet) {
        top: 18%;
    }

    &:hover {
        margin-left: 0;
    }
}

.tab-link {
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    margin: 0;
    padding: 5px 10px;

    &.current {
        border-width: 1px 1px 0px 1px;
        border-color: #bdbdbd;
        border-style: solid;
        background-color: #fff;
    }
}

.tabs-nav {
    margin-left: 0;
    margin-top: 10px;
    position: relative;

    &:after {
        content:'';
        background-color: #bdbdbd;
        height: 1px;
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        z-index: -1;
        
        @include breakpoint(min-tablet) {
            right: -300px;
        }
    }
    
}

.tab-content {
    display: none;
    padding: 20px 0px;
}

.tab-content.current{
    display: inherit;
}

.tabs-content-group {
    
    @include breakpoint(min-tablet) {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-column-gap: 26px;
    }

    @include breakpoint(min-laptop-large) {
        grid-template-columns: 0.6fr 1fr;
    }
}

.tab-content {
    grid-column-start: 2;
}

.tab-content-second {
    grid-area: 1 / 1 / 2 / 3;
}

.map-with-directions {
    
    @include breakpoint(min-tablet) {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-gap: 26px;
    }

    @include breakpoint(min-laptop-large) {
        grid-template-columns: 0.6fr 1fr;
    }
}

.maps-aditional-info {
    font-weight: 500;
    
    @include breakpoint(min-tablet) {
        display: flex;
        justify-content: flex-end;
    }

    ul {
        max-width: 200px;
        list-style-type: none;
    }

    li {
        align-items: center;
        color: #1d1d1b;
        display: flex;
        padding-bottom: 5px;
    }

    .icon-map {
        color: #000000;
        flex-shrink: 0;
    }

    .icon-rounded-wrap {
        margin-top: 10px;
    }
}

.direction-info {
    margin-left: 10px;
}

.shrink-property {
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    height: 25px;
    width: 25px;
    text-align: center;
    
    @include breakpoint(min-tablet) {
        margin-bottom: 40px;
    }
}

.facilities-list {
    font-size: 14px;
    margin-left: 10px;
    columns: 2;

    li {
        list-style-type: none;

        &:before {
            content: "\2022";
            color: $color-secondary;
            font-weight: bold;
            display: inline-block; 
            width: 1em;
            margin-left: -1em;
        }   
    }
}

.prices-info {
    line-height: 1.4;
    font-size: 11px;
    margin-top: 40px;
}