/* -----------------------------------------
   Footer
   ----------------------------------------- */

.footer {
    background-color: #fff;
    z-index: 100;
    position: relative;
}

.footer-inner,
.footer-left {
    align-items: center;
    display: grid;
}

.footer-inner {
    padding: 20px 0;
    
    @include breakpoint(min-tablet) {
        grid-template-columns: 65% 1fr;
        grid-gap: 85px;
        padding: 80px 0;
    }
}

.footer-left {
    grid-template-columns: 1fr 65%;
    grid-gap: 10px;
    padding-bottom: 20px;

    @include breakpoint(min-tablet) {
        
        grid-template-columns: 1fr 70%;
        grid-gap: 40px;
    }
}

.footer-info-text {
    color: #60605f;
    font-size: 14px;
    line-height: normal;
    
    font-weight: 300;

    @include breakpoint(min-tablet) {
        font-size: 20px;
        line-height: 26px;
    }
}

.footer-info-title {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 10px;
}

.sale-consultant {
    border-top: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
    color: #1d1d1b;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    padding: 10px 0;
    margin-bottom: 15px;
}

.dl-group {
    
   
    dt, dd {
        display: inline-block;
    }
}