/* -----------------------------------------
   Inputs
   ----------------------------------------- */


/**
 * Base input styles.
 */
.input {
    -webkit-appearance: none;       /* removing inner shadow on iOS inputs */
    -webkit-font-smoothing: inherit;
    box-sizing: border-box;
    transition: all .2s ease;
    background: none;
    border: none;
    color: $base-text-color;
    display: inline-block;
    font-family: $base-font-family;
    font-size: $base-font-size;
    padding: 0;                     /* remove browser defaults */
    vertical-align: middle;
    width: 100%;

    &:invalid {
        box-shadow: none;  /* fixes mozilla red outline (shadow) */
    }

    &[readonly] {
        cursor: text;
    }

    &::-ms-clear {
        display: none; /* remove IE clear icon */
    }

    @include input-placeholder {
       color: $base-text-color;
    }
}

/**
 * Textarea input.
 */
.input-textarea {
    resize: none;
}

.input-search {
    border: 1px solid #3C3D3B;
    line-height: normal;
    padding: 1px 10px;
    margin-top: 10px;
    width: 100%;
    
    @include breakpoint(min-tablet) {
        max-width: 100%;
        margin-top: 0;
        margin-left: 10px;
        width: 170px;
    }
}

//custom checkbox
.input-checkbox,
.input-radio {
    display: none;

    &:checked {
        + .checkbox-label,
        + .radio-label {

            &:before {
                background-color: #3C3D3B;
                border-color: #3C3D3B;

                .shortlist-overlay & {
                    background-color: $color-secondary;
                    border-color: $color-secondary;
                }
            }
        }
    }
}

.checkbox-form-group,
.radio-form-group {
    position: relative;
    cursor: pointer;
}

.checkbox-label,
.radio-label {
    color: #1d1d1b;
    font-weight: 600;

    .shortlist-overlay & {
        font-size: 14px;
    }

    &:before {
        content:'';
        -webkit-appearance: none;
        border: 1px solid #acacac;
        border-radius: 3px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 8px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 8px;
    }

    &:after {
        content: '';
        border: solid #fff;
        border-width: 0 2px 2px 0;
        display: block;
        position: absolute;
        top: 5px;
        left: 6px;
        width: 6px;
        height: 11px;
        transform: rotate(45deg);
    }
}

.radio-label {

    &:before {
        border-radius: 50%;
        padding: 10px;
    }

    &:after {
        top: 8px;
        left: 8px;
    }
}

.checkbox-form-group {
    padding-bottom: 5px;
}

.radio-form-group {
    padding-bottom: 10px;
}

.radio-time-fields {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 25px;
}

.label-time {
    cursor: pointer;
    border: 1px solid #b1b1b1;
    border-radius: 13px;
    padding: 1px 10px;
    display: inline-block;
    min-width: 90px;
    text-align: center;
}

.input-radio-time {

    .input-radio {
        &:checked {
            + .label-time {
                background-color: #000;
                color: #fff;
            }
        }
    }
}

.error-message {
    color: $color-secondary;
    margin-top: 5px;
}