// -----------------------------------------
//  Default setings
// ----------------------------------------- 


$color-primary:									#107a87;
$color-secondary:								#f95658;

// Basic styles
$base-background-color:                         #fff;
$base-border-color:                             rgba(#dddcdc, .5);
$base-border-radius:                            2px;
$base-font-family:                              'Poppins', sans-serif;
$base-font-size:                                12px;
$base-line-height:                              25px;
$base-link-color:                               $color-secondary;
$base-selection-background-color:               rgba(#107a87, .3);
$base-selection-text-color:                     #fff;
$base-text-color:                               #696967;
$base-title-color:                              #1d1d1b;
$second-title-color:                            #fff;


// Layout
$spacing-unit:                                  15px;
$page-max-width:                                1089px;


// Breakpoints
$phone: 500px;
$tablet: 900px;
$laptop: 1280px;
$laptop-large: 1338px;
$desktop: 1525px;

