/* -----------------------------------------
   Headings
   ----------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $base-title-color;
    font-weight: 600;
    margin: 0;
	
    > a {
        color: inherit;
    }
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 18px;
    line-height: 27px;
}