/* -----------------------------------------
   Page
   ----------------------------------------- */

/**
 * High-, page-level styling.
 */
html {
	font-family: $base-font-family;
    font-size:  $base-font-size; 
    line-height: $base-line-height / $base-font-size;
    background-color: $base-background-color;
    color: $base-text-color;
    overflow-y: scroll;
    min-height: 100%; 
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%; 
    -moz-osx-font-smoothing: grayscale; 
     -webkit-font-smoothing: antialiased;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

li {
    line-height: normal;
    margin-left: 14px;
}

/*=== Layout positioning ===*/
.main {
    display: flex;
    flex-grow: 1;
    padding-top: 60px;
    flex-wrap: wrap;
    flex-direction: column;

    @include breakpoint(min-tablet) {
        flex-wrap: nowrap;
        flex-direction: row;
    }
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}
