{% extends "./_templates/template.default.html" %}
{% set page = "home" %}
{% set title = "Home" %}
{% set home = true %}

{% block content %}
    {% include "_partials/partial.header.html" %}
    <div class="thank-you-bg" style="background-image: url('images/thank-you-bg.jpg');"></div>
    <main class="main">
        <div class="js-toggle-link">
            <a href="javascript:;" class="js-expand-properties toggle-properties is-active">
                Expand all
            </a>
            <a href="javascript:;" class="js-shrink-properties toggle-properties">
                Shrink all
            </a>
        </div>
        {% include "_partials/partial.properties-list.html" %}
        {% include "_partials/partial.properties-map.html" %}
        {% include "_partials/partial.shortlist-overlay.html" %}
    </main>
    {% include "_partials/partial.shortlist.html" %}
    {% include "_partials/partial.footer.html" %}
{% endblock %} 