	
	<script src="assets/jquery/dist/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB69b8vA_jasRQhZXhFKtIMWIUo-vPshvI&libraries=places,geometry&region=uk&language=en"></script>
    <script src="js/all.min.js"></script>
    <script src="js/init.min.js"></script>
  </body>
</html>

