<!DOCTYPE html>
<html class="{{ page }}" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">

    <title>{{ title }}</title>

    <!-- Prefetch DNS for external assets (Twitter widgets etc). -->
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//themes.googleusercontent.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->

    {% if styleguide %}
        <link rel="stylesheet" href="{{ stylesheet2 }}">
        <link rel="stylesheet" href="{{ stylesheet }}">
    {% else %}
        <link rel="stylesheet" href="{{ stylesheet }}">
    {% endif %}
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="description" content="">
    <meta name="author" content="">
  </head>
<body>
