<div id="property-1" data-price="767" data-defaultprice="0" data-idoffice="28710" class="js-open-map-item property-list-item js-property-list-item js-tab-group" data-markerindex="0">
	<div class="property-info">
		<div class="property-left">
            <div class="property-img-wrap">
                <img src="http://b.easyoffices.com/images/property/28710-1.jpg" alt="property image" class="property-img js-expand-property">
            </div>
			<div class="property-slider">
				<div class="slider">
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/28710-1.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/28710-2.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/28710-3.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/28710-4.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/28710-5.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/28710-6.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/28710-7.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/28710-8.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/28710-9.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/28710-10.jpg" alt="image"></div>
				</div>
			</div>
		</div>
		<div class="property-right">
			<div class="property-data">
				<div class="property-data-inner">
					<h2 class="property-name js-expand-property">Farringdon Road
						<span class="distance-from-address"></span>
					</h2>
					<div class="property-desc">
						<p>We are located on Farringdon Road .Fancy investigating the surrounding area? Must-visit venues include the English Touring Opera House and Museum of the Order of Saint John.</p>
					</div>
					<div class="property-persons">
						<p>6&nbsp;person office available - prices start from &pound;3,767 a month</p>
						<p>Including phone and internet costs</p>
						<!--<p>4 person office from <span class="property-price">£2000 pm</span></p>										                                    <p>6 person office from <span class="property-price">£2500 pm</span></p>-->
					</div>
					<ul
						class="property-facilities"><!--<li>Includes IT and Telecoms infrastructure</li>
							                            <li>Free parking</li>-->
					</ul>
				</div>
				<ul class="tabs-nav">
					<li class="js-tab-link tab-link current">Features</li>
					<li class="js-tab-link tab-link">Location</li>
				</ul>
			</div>
			<div class="property-actions">
				<a href="javascript:;" class="shrink-property js-shrink-property">
					{{icon('icon-close', 'icon--9-9')}}
				</a>
				<div class="open-shortlist">
					<a href="javascript:;" class="js-property-data js-add-to-shortlist shortlist-btn-add" data-property-id="property-28710" data-lat="51.5216550" data-lng="-0.1067110" data-name="Farringdon Road " data-image="http://b.easyoffices.com/images/property/28710-1.jpg">Add to										                                    shortlist</a>
					<a href="javascript:;" class="js-remove-from-shortlist shortlist-btn-remove hide" data-property-id="property-28710" data-name="Farringdon Road " data-image="images/property-name-1.jpg">Take off shortlist</a>
				</div>
				<a href="javascript:;" class="js-expand-property expand-property-btn icon-rounded-wrap">
					<span class="icon-rounded">
						{{icon('icon-arrow-right', 'icon--9-9')}}
					</span>
					Learn more
				</a>
			</div>
		</div>
	</div>
	<div class="property-info-bottom">
		<div class="tabs-content-group">
			<div class="js-tab-content tab-content current">
				<ul class="facilities-list">
					<li data-facility="showers">Showers</li>
					<li data-facility="meetingrooms">Meeting Rooms</li>
					<li data-facility="parking">Parking</li>
					<li data-facility="24hraccess">24 Hr Access</li>
					<li data-facility="disabledfacilities">Disabled Facilities</li>
					<li data-facility="lifts">Lifts</li>
					<li data-facility="breakoutareas">Breakout Areas</li>
					<li data-facility="bikeracks">Bike Racks</li>
				</ul>
				<p class="prices-info">
					Please note that these prices may be negotiable further once offices are viewed but we are happy to discuss this with you in more detail.
				</p>
			</div>
			<div class="js-tab-content tab-content tab-content-second">
				<div class="map-with-directions">
					<div class="maps-aditional-info">
						<ul>
							<li>
								{{icon('icon-railway', 'icon-map icon--18-21')}}
								<span class="direction-info">Farringdon 0.1 Miles (0.2 km)</span>
							</li>
							<li>
								{{icon('icon-highway', 'icon-map icon--20-20')}}
								<span class="direction-info">M1 8.5 Miles (13.67 km)</span>
							</li>
							<li>
								{{icon('icon-airport', 'icon-map icon--20-20')}}
								<span class="direction-info">London City Airport 6.8 Miles (10.9 km)</span>
							</li>
							<li></li>
							<li>
								<div class="icon-rounded-wrap show">
									<a href="javascript:;" class="get-directions js-get-directions" data-lat="51.5216550" data-lng="-0.1067110" data-map="map-0">
										<span class="icon-rounded">
											{{icon('icon-arrow-right', 'icon--9-9')}}
										</span>
										Get directions</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="map-wrap">
						<a href="javascript:;" class="js-street-view-link street-view-link" data-lat="51.5216550" data-lng="-0.1067110" data-map="map-0">Street View</a>
						<div class="maps" data-lat="51.5216550" data-lng="-0.1067110" data-map="map-0"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="property-2" data-price="388" data-defaultprice="1" data-idoffice="444" class="js-open-map-item property-list-item js-property-list-item js-tab-group" data-markerindex="1">
	<div class="property-info">
		<div class="property-left">
            <div class="property-img-wrap">
                <img src="http://b.easyoffices.com/images/property/444-1.jpg" alt="property image" class="property-img js-expand-property">
            </div>
			<div class="property-slider">
				<div class="slider">
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/444-1.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/444-2.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/444-3.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/444-4.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/444-5.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/444-6.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/444-7.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/444-8.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/444-9.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/444-10.jpg" alt="image"></div>
				</div>
			</div>
		</div>
		<div class="property-right">
			<div class="property-data">
				<div class="property-data-inner">
					<h2 class="property-name js-expand-property">Fleet Street
						<span class="distance-from-address"></span>
					</h2>
					<div class="property-desc">
						<p>This lovely fully refurbished six storey serviced office in London is just down from historic St.Pauls cathedral and is easily accessed via major underground and rail links.</p>
					</div>
					<div class="property-persons">
						<p>8&nbsp;person office available - prices start from &pound;2,388 a month</p>
						<p>Including phone and internet costs</p>
						<!--<p>4 person office from <span class="property-price">£2000 pm</span></p>
						                            <p>6 person office from <span class="property-price">£2500 pm</span></p>-->
					</div>
					<ul
						class="property-facilities"><!--<li>Includes IT and Telecoms infrastructure</li>
							                            <li>Free parking</li>-->
					</ul>
				</div>
				<ul class="tabs-nav">
					<li class="js-tab-link tab-link current">Features</li>
					<li class="js-tab-link tab-link">Location</li>
				</ul>
			</div>
			<div class="property-actions">
				<a href="javascript:;" class="shrink-property js-shrink-property">
					{{icon('icon-close', 'icon--9-9')}}
				</a>
				<div class="open-shortlist">
					<a href="javascript:;" class="js-property-data js-add-to-shortlist shortlist-btn-add" data-property-id="property-444" data-lat="51.5143050" data-lng="-0.1049490" data-name="Fleet Street" data-image="http://b.easyoffices.com/images/property/444-1.jpg">Add to
						                    shortlist</a>
					<a href="javascript:;" class="js-remove-from-shortlist shortlist-btn-remove hide" data-property-id="property-444" data-name="Fleet Street" data-image="images/property-name-1.jpg">Take off shortlist</a>
				</div>
				<a href="javascript:;" class="js-expand-property expand-property-btn icon-rounded-wrap">
					<span class="icon-rounded">
						{{icon('icon-arrow-right', 'icon--9-9')}}
					</span>
					Learn more
				</a>
			</div>
		</div>
	</div>
	<div class="property-info-bottom">
		<div class="tabs-content-group">
			<div class="js-tab-content tab-content current">
				<ul class="facilities-list">
					<li data-facility="meetingrooms">Meeting Rooms</li>
					<li data-facility="24hraccess">24 Hr Access</li>
					<li data-facility="disabledfacilities">Disabled Facilities</li>
					<li data-facility="breakoutareas">Breakout Areas</li>
				</ul>
				<p class="prices-info">
					Please note that these prices may be negotiable further once offices are viewed but we are happy to discuss this with you in more detail.
				</p>
			</div>
			<div class="js-tab-content tab-content tab-content-second">
				<div class="map-with-directions">
					<div class="maps-aditional-info">
						<ul>
							<li>
								{{icon('icon-railway', 'icon-map icon--18-21')}}
								<span class="direction-info">London City Thameslink 0.1 Miles (0.1 km)</span>
							</li>
							<li>
								{{icon('icon-highway', 'icon-map icon--20-20')}}
								<span class="direction-info">M1 Jnct 1 6.6 Miles (10.6km)</span>
							</li>
							<li>
								{{icon('icon-airport', 'icon-map icon--20-20')}}
								<span class="direction-info">London City Airport 6.6 Miles (10.6 km)</span>
							</li>
							<li></li>
							<li>
								<div class="icon-rounded-wrap show">
									<a href="javascript:;" class="get-directions js-get-directions" data-lat="51.5143050" data-lng="-0.1049490" data-map="map-1">
										<span class="icon-rounded">
											{{icon('icon-arrow-right', 'icon--9-9')}}
										</span>
										Get directions</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="map-wrap">
						<a href="javascript:;" class="js-street-view-link street-view-link" data-lat="51.5143050" data-lng="-0.1049490" data-map="map-1">Street View</a>
						<div class="maps" data-lat="51.5143050" data-lng="-0.1049490" data-map="map-1"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="property-3" data-price="983" data-defaultprice="2" data-idoffice="24382" class="js-open-map-item property-list-item js-property-list-item js-tab-group" data-markerindex="2">
	<div class="property-info">
		<div class="property-left">
			<div class="property-img-wrap">
				<img src="http://b.easyoffices.com/images/property/TallisStreet_24382_559bfa2e4f4ae.jpg" alt="property image" class="property-img js-expand-property">
			</div>
			<div class="property-slider">
				<div class="slider">
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/TallisStreet_24382_559bfa2e4f4ae.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/TallisStreet_24382_559bfa2e4ff34.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/TallisStreet_24382_559bfa2e508eb.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/TallisStreet_24382_559bfa2e51580.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/TallisStreet_24382_559bfa2e51ed5.jpg" alt="image"></div>
				</div>
			</div>
		</div>
		<div class="property-right">
			<div class="property-data">
				<div class="property-data-inner">
					<h2 class="property-name js-expand-property">
						Tallis Street
						<span class="distance-from-address"></span>
						<span></h2>
						<div class="property-desc">
							<p>This refurbished business centre in Londonâ€™s EC4 postcode is conveniently positioned south of Fleet Street.</p>
						</div>
						<div class="property-persons">
							<p>8&nbsp;person office available - prices start from &pound;2,983 a month</p>
							<p>Including phone and internet costs</p>
							<!--<p>4 person office from <span class="property-price">£2000 pm</span></p>
							                        <p>6 person office from <span class="property-price">£2500 pm</span></p>-->
						</div>
						<ul
							class="property-facilities"><!--<li>Includes IT and Telecoms infrastructure</li>
								                        <li>Free parking</li>-->
						</ul>
					</div>
					<ul class="tabs-nav">
						<li class="js-tab-link tab-link current">Features</li>
						<li class="js-tab-link tab-link">Location</li>
					</ul>
				</div>
				<div class="property-actions">
					<a href="javascript:;" class="shrink-property js-shrink-property">
						{{icon('icon-close', 'icon--9-9')}}
					</a>
					<div class="open-shortlist">
						<a href="javascript:;" class="js-property-data js-add-to-shortlist shortlist-btn-add" data-property-id="property-24382" data-lat="51.5116730" data-lng="-0.1078780" data-name="Tallis Street" data-image="http://b.easyoffices.com/images/property/TallisStreet_24382_559bfa2e4f4ae.jpg">Add to
							            shortlist</a>
						<a href="javascript:;" class="js-remove-from-shortlist shortlist-btn-remove hide" data-property-id="property-24382" data-name="Tallis Street" data-image="images/property-name-1.jpg">Take off shortlist</a>
					</div>
					<a href="javascript:;" class="js-expand-property expand-property-btn icon-rounded-wrap">
						<span class="icon-rounded">
							{{icon('icon-arrow-right', 'icon--9-9')}}
						</span>
						Learn more
					</a>
				</div>
			</div>
		</div>
		<div class="property-info-bottom">
			<div class="tabs-content-group">
				<div class="js-tab-content tab-content current">
					<ul class="facilities-list">
						<li data-facility="showers">Showers</li>
						<li data-facility="meetingrooms">Meeting Rooms</li>
						<li data-facility="parking">Parking</li>
						<li data-facility="24hraccess">24 Hr Access</li>
						<li data-facility="disabledfacilities">Disabled Facilities</li>
						<li data-facility="lifts">Lifts</li>
						<li data-facility="businesslounges">Business Lounges</li>
						<li data-facility="breakoutareas">Breakout Areas</li>
						<li data-facility="bikeracks">Bike Racks</li>
						<li data-facility="cctv">CCTV</li>
						<li data-facility="coworkingsharedspace">Co Working/Shared Space</li>
					</ul>
					<p class="prices-info">
						Please note that these prices may be negotiable further once offices are viewed but we are happy to discuss this with you in more detail.
					</p>
				</div>
				<div class="js-tab-content tab-content tab-content-second">
					<div class="map-with-directions">
						<div class="maps-aditional-info">
							<ul>
								<li>
									{{icon('icon-railway', 'icon-map icon--18-21')}}
									<span class="direction-info">London Blackfriars 0.2 Miles (0.3 km)</span>
								</li>
								<li>
									{{icon('icon-highway', 'icon-map icon--20-20')}}
									<span class="direction-info">M1 Jnct 1 6.6 Miles (10.6km)</span>
								</li>
								<li>
									{{icon('icon-airport', 'icon-map icon--20-20')}}
									<span class="direction-info">London City Airport 6.7 Miles (10.8 km)</span>
								</li>
								<li></li>
								<li>
									<div class="icon-rounded-wrap show">
										<a href="javascript:;" class="get-directions js-get-directions" data-lat="51.5116730" data-lng="-0.1078780" data-map="map-2">
											<span class="icon-rounded">
												{{icon('icon-arrow-right', 'icon--9-9')}}
											</span>
											Get directions</a>
									</div>
								</li>
							</ul>
						</div>
						<div class="map-wrap">
							<a href="javascript:;" class="js-street-view-link street-view-link" data-lat="51.5116730" data-lng="-0.1078780" data-map="map-2">Street View</a>
							<div class="maps" data-lat="51.5116730" data-lng="-0.1078780" data-map="map-2"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="property-4" data-price="152" data-defaultprice="3" data-idoffice="2805" class="js-open-map-item property-list-item js-property-list-item js-tab-group" data-markerindex="3">
		<div class="property-info">
			<div class="property-left">
					<div class="property-img-wrap">
						<img src="http://b.easyoffices.com/images/property/2805-1.jpg" alt="property image" class="property-img js-expand-property">
					</div>
				<div class="property-slider">
					<div class="slider">
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/2805-1.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/2805-2.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/2805-3.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/2805-4.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/2805-5.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/2805-6.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/2805-7.jpg" alt="image"></div>
					</div>
				</div>
			</div>
			<div class="property-right">
				<div class="property-data">
					<div class="property-data-inner">
						<h2 class="property-name js-expand-property">Borough High Street
							<span class="distance-from-address"></span>
						</h2>
						<div class="property-desc">
							<p>Only 3 minutes walk from London Bridge station, offering mainline and underground services, and a short walk to the South Bank of the River Thames you benefit from superb transport links but also a fantastic range of bars and restaurants. As a client you are free to enjoy our roof terrace providing some great views of this very popular area.</p>
						</div>
						<div class="property-persons">
							<p>9&nbsp;person office available - prices start from &pound;2,152 a month</p>
							<p>Including phone and internet costs</p>
							<!--<p>4 person office from <span class="property-price">£2000 pm</span></p>
							    <p>6 person office from <span class="property-price">£2500 pm</span></p>-->
						</div>
						<ul
							class="property-facilities"><!--<li>Includes IT and Telecoms infrastructure</li>
								    <li>Free parking</li>-->
						</ul>
					</div>
					<ul class="tabs-nav">
						<li class="js-tab-link tab-link current">Features</li>
						<li class="js-tab-link tab-link">Location</li>
					</ul>
				</div>
				<div class="property-actions">
					<a href="javascript:;" class="shrink-property js-shrink-property">
						{{icon('icon-close', 'icon--9-9')}}
					</a>
					<div class="open-shortlist">
						<a href="javascript:;" class="js-property-data js-add-to-shortlist shortlist-btn-add" data-property-id="property-2805" data-lat="51.5026740" data-lng="-0.0921310" data-name="Borough High Street" data-image="http://b.easyoffices.com/images/property/2805-1.jpg">Add to
							shortlist</a>
						<a href="javascript:;" class="js-remove-from-shortlist shortlist-btn-remove hide" data-property-id="property-2805" data-name="Borough High Street" data-image="images/property-name-1.jpg">Take off shortlist</a>
					</div>
					<a href="javascript:;" class="js-expand-property expand-property-btn icon-rounded-wrap">
						<span class="icon-rounded">
							{{icon('icon-arrow-right', 'icon--9-9')}}
						</span>
						Learn more
					</a>
				</div>
			</div>
		</div>
		<div class="property-info-bottom">
			<div class="tabs-content-group">
				<div class="js-tab-content tab-content current">
					<ul class="facilities-list">
						<li data-facility="showers">Showers</li>
						<li data-facility="meetingrooms">Meeting Rooms</li>
						<li data-facility="parking">Parking</li>
						<li data-facility="24hraccess">24 Hr Access</li>
						<li data-facility="breakoutareas">Breakout Areas</li>
						<li data-facility="cctv">CCTV</li>
					</ul>
					<p class="prices-info">
						Please note that these prices may be negotiable further once offices are viewed but we are happy to discuss this with you in more detail.
					</p>
				</div>
				<div class="js-tab-content tab-content tab-content-second">
					<div class="map-with-directions">
						<div class="maps-aditional-info">
							<ul>
								<li>
									{{icon('icon-railway', 'icon-map icon--18-21')}}
									<span class="direction-info">London Bridge 0.3 Miles (0.5 km)</span>
								</li>
								<li>
									{{icon('icon-highway', 'icon-map icon--20-20')}}
									<span class="direction-info">M4 Jnct 2 10.0 Miles</span>
								</li>
								<li>
									{{icon('icon-airport', 'icon-map icon--20-20')}}
									<span class="direction-info">London City Airport 6 Miles (9.7 km)</span>
								</li>
								<li></li>
								<li>
									<div class="icon-rounded-wrap show">
										<a href="javascript:;" class="get-directions js-get-directions" data-lat="51.5026740" data-lng="-0.0921310" data-map="map-3">
											<span class="icon-rounded">
												{{icon('icon-arrow-right', 'icon--9-9')}}
											</span>
											Get directions</a>
									</div>
								</li>
							</ul>
						</div>
						<div class="map-wrap">
							<a href="javascript:;" class="js-street-view-link street-view-link" data-lat="51.5026740" data-lng="-0.0921310" data-map="map-3">Street View</a>
							<div class="maps" data-lat="51.5026740" data-lng="-0.0921310" data-map="map-3"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="property-5" data-price="591" data-defaultprice="4" data-idoffice="817" class="js-open-map-item property-list-item js-property-list-item js-tab-group" data-markerindex="4">
		<div class="property-info">
			<div class="property-left">
                <div class="property-img-wrap">
                    <img src="http://b.easyoffices.com/images/property/817-1.jpg" alt="property image" class="property-img js-expand-property">
                </div>
				<div class="property-slider">
					<div class="slider">
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/817-1.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/817-2.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/817-3.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/817-4.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/817-5.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/817-6.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/817-7.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/817-8.jpg" alt="image"></div>
					</div>
				</div>
			</div>
			<div class="property-right">
				<div class="property-data">
					<div class="property-data-inner">
						<h2 class="property-name js-expand-property">Westminster Bridge Road
							<span class="distance-from-address"></span>
						</h2>
						<div class="property-desc">
							<p>The Southwark serviced office consists of three buildings set in a courtyard, less than 10 minutes walk from Waterloo Station and even closer to Lambeth North Underground Station.   The area has a variety of local amenities and many good transport connections making this an excellent location for any business.</p>
						</div>
						<div class="property-persons">
							<p>9&nbsp;person office available - prices start from &pound;3,591 a month</p>
							<p>Including phone and internet costs</p>
							<!--<p>4 person office from <span class="property-price">£2000 pm</span></p>
							    <p>6 person office from <span class="property-price">£2500 pm</span></p>-->
						</div>
						<ul
							class="property-facilities"><!--<li>Includes IT and Telecoms infrastructure</li>
								    <li>Free parking</li>-->
						</ul>
					</div>
					<ul class="tabs-nav">
						<li class="js-tab-link tab-link current">Features</li>
						<li class="js-tab-link tab-link">Location</li>
					</ul>
				</div>
				<div class="property-actions">
					<a href="javascript:;" class="shrink-property js-shrink-property">
						{{icon('icon-close', 'icon--9-9')}}
					</a>
					<div class="open-shortlist">
						<a href="javascript:;" class="js-property-data js-add-to-shortlist shortlist-btn-add" data-property-id="property-817" data-lat="51.4986110" data-lng="-0.1085050" data-name="Westminster Bridge Road" data-image="http://b.easyoffices.com/images/property/817-1.jpg">Add to
							shortlist</a>
						<a href="javascript:;" class="js-remove-from-shortlist shortlist-btn-remove hide" data-property-id="property-817" data-name="Westminster Bridge Road" data-image="images/property-name-1.jpg">Take off shortlist</a>
					</div>
					<a href="javascript:;" class="js-expand-property expand-property-btn icon-rounded-wrap">
						<span class="icon-rounded">
							{{icon('icon-arrow-right', 'icon--9-9')}}
						</span>
						Learn more
					</a>
				</div>
			</div>
		</div>
		<div class="property-info-bottom">
			<div class="tabs-content-group">
				<div class="js-tab-content tab-content current">
					<ul class="facilities-list">
						<li data-facility="showers">Showers</li>
						<li data-facility="meetingrooms">Meeting Rooms</li>
						<li data-facility="secretarialsupport">Secretarial Support</li>
						<li data-facility="parking">Parking</li>
						<li data-facility="aircon">Aircon</li>
						<li data-facility="disabledfacilities">Disabled Facilities</li>
						<li data-facility="fullyfurnished">Fully Furnished</li>
						<li data-facility="lifts">Lifts</li>
						<li data-facility="gym">Gym</li>
						<li data-facility="mannedreception">Manned Reception</li>
						<li data-facility="rollingmonthlycontracts">Rolling Monthly Contracts</li>
						<li data-facility="breakoutareas">Breakout Areas</li>
						<li data-facility="bikeracks">Bike Racks</li>
						<li data-facility="cctv">CCTV</li>
						<li data-facility="virtualoffices">Virtual Offices</li>
						<li data-facility="highspeedbroadband">High Speed Broadband</li>
					</ul>
					<p class="prices-info">
						Please note that these prices may be negotiable further once offices are viewed but we are happy to discuss this with you in more detail.
					</p>
				</div>
				<div class="js-tab-content tab-content tab-content-second">
					<div class="map-with-directions">
						<div class="maps-aditional-info">
							<ul>
								<li>
									{{icon('icon-railway', 'icon-map icon--18-21')}}
									<span class="direction-info">London Waterloo 0.4 Miles (0.6 km)</span>
								</li>
								<li>
									{{icon('icon-highway', 'icon-map icon--20-20')}}
									<span class="direction-info">M1 Jnct 1 7.2 Miles (11.5km)</span>
								</li>
								<li>
									{{icon('icon-airport', 'icon-map icon--20-20')}}
									<span class="direction-info">London City Airport 6.7 Miles (10.8 km)</span>
								</li>
								<li></li>
								<li>
									<div class="icon-rounded-wrap show">
										<a href="javascript:;" class="get-directions js-get-directions" data-lat="51.4986110" data-lng="-0.1085050" data-map="map-4">
											<span class="icon-rounded">
												{{icon('icon-arrow-right', 'icon--9-9')}}
											</span>
											Get directions</a>
									</div>
								</li>
							</ul>
						</div>
						<div class="map-wrap">
							<a href="javascript:;" class="js-street-view-link street-view-link" data-lat="51.4986110" data-lng="-0.1085050" data-map="map-4">Street View</a>
							<div class="maps" data-lat="51.4986110" data-lng="-0.1085050" data-map="map-4"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="property-6" data-price="039" data-defaultprice="5" data-idoffice="10607" class="js-open-map-item property-list-item js-property-list-item js-tab-group" data-markerindex="5">
		<div class="property-info">
			<div class="property-left">
                <div class="property-img-wrap">
                    <img src="http://b.easyoffices.com/images/property/AlbertEmbankment_10607_558819b7d4791.jpg" alt="property image" class="property-img js-expand-property">
                </div>
				<div class="property-slider">
					<div class="slider">
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/AlbertEmbankment_10607_558819b7d4791.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/AlbertEmbankment_10607_558819b7d5220.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/AlbertEmbankment_10607_558819b7d5da5.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/AlbertEmbankment_10607_558819b7d6740.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/AlbertEmbankment_10607_558819b7d73cd.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/AlbertEmbankment_10607_558819b7d9518.jpg" alt="image"></div>
					</div>
				</div>
			</div>
			<div class="property-right">
				<div class="property-data">
					<div class="property-data-inner">
						<h2 class="property-name js-expand-property">Albert Embankment
							<span class="distance-from-address"></span>
						</h2>
						<div class="property-desc">
							<p>The serviced office in Vauxhall is ideally placed on the Albert Embankment, convenient for both Vauxhall Underground Station (Victoria Line and mainline suburban services) as well as London Waterloo Station (Bakerloo, Jubilee, Northern and Mainline services), offering excellent access to London and other parts of the UK.</p>
						</div>
						<div class="property-persons">
							<p>8&nbsp;person office available - prices start from &pound;2,039 a month</p>
							<p>Including phone and internet costs</p>
							<!--<p>4 person office from <span class="property-price">£2000 pm</span></p>
							    <p>6 person office from <span class="property-price">£2500 pm</span></p>-->
						</div>
						<ul
							class="property-facilities"><!--<li>Includes IT and Telecoms infrastructure</li>
								    <li>Free parking</li>-->
						</ul>
					</div>
					<ul class="tabs-nav">
						<li class="js-tab-link tab-link current">Features</li>
						<li class="js-tab-link tab-link">Location</li>
					</ul>
				</div>
				<div class="property-actions">
					<a href="javascript:;" class="shrink-property js-shrink-property">
						{{icon('icon-close', 'icon--9-9')}}
					</a>
					<div class="open-shortlist">
						<a href="javascript:;" class="js-property-data js-add-to-shortlist shortlist-btn-add" data-property-id="property-10607" data-lat="51.4896130" data-lng="-0.1226480" data-name="Albert Embankment" data-image="http://b.easyoffices.com/images/property/AlbertEmbankment_10607_558819b7d4791.jpg">Add to
							shortlist</a>
						<a href="javascript:;" class="js-remove-from-shortlist shortlist-btn-remove hide" data-property-id="property-10607" data-name="Albert Embankment" data-image="images/property-name-1.jpg">Take off shortlist</a>
					</div>
					<a href="javascript:;" class="js-expand-property expand-property-btn icon-rounded-wrap">
						<span class="icon-rounded">
							{{icon('icon-arrow-right', 'icon--9-9')}}
						</span>
						Learn more
					</a>
				</div>
			</div>
		</div>
		<div class="property-info-bottom">
			<div class="tabs-content-group">
				<div class="js-tab-content tab-content current">
					<ul class="facilities-list">
						<li data-facility="showers">Showers</li>
						<li data-facility="meetingrooms">Meeting Rooms</li>
						<li data-facility="24hraccess">24 Hr Access</li>
						<li data-facility="lifts">Lifts</li>
						<li data-facility="breakoutareas">Breakout Areas</li>
						<li data-facility="bikeracks">Bike Racks</li>
						<li data-facility="cctv">CCTV</li>
						<li data-facility="coworkingsharedspace">Co Working/Shared Space</li>
					</ul>
					<p class="prices-info">
						Please note that these prices may be negotiable further once offices are viewed but we are happy to discuss this with you in more detail.
					</p>
				</div>
				<div class="js-tab-content tab-content tab-content-second">
					<div class="map-with-directions">
						<div class="maps-aditional-info">
							<ul>
								<li>
									{{icon('icon-railway', 'icon-map icon--18-21')}}
									<span class="direction-info">London Vauxhall 0.2 Miles (0.4 km)</span>
								</li>
								<li>
									{{icon('icon-highway', 'icon-map icon--20-20')}}
									<span class="direction-info">M4 Jnct 1 6.8 miles (11 km)</span>
								</li>
								<li>
									{{icon('icon-airport', 'icon-map icon--20-20')}}
									<span class="direction-info">London City Airport 7.4 Miles (11.9 km)</span>
								</li>
								<li></li>
								<li>
									<div class="icon-rounded-wrap show">
										<a href="javascript:;" class="get-directions js-get-directions" data-lat="51.4896130" data-lng="-0.1226480" data-map="map-5">
											<span class="icon-rounded">
												{{icon('icon-arrow-right', 'icon--9-9')}}
											</span>
											Get directions</a>
									</div>
								</li>
							</ul>
						</div>
						<div class="map-wrap">
							<a href="javascript:;" class="js-street-view-link street-view-link" data-lat="51.4896130" data-lng="-0.1226480" data-map="map-5">Street View</a>
							<div class="maps" data-lat="51.4896130" data-lng="-0.1226480" data-map="map-5"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="property-7" data-price="793" data-defaultprice="6" data-idoffice="819" class="js-open-map-item property-list-item js-property-list-item js-tab-group" data-markerindex="6">
		<div class="property-info">
			<div class="property-left">
                <div class="property-img-wrap">
                    <img src="http://b.easyoffices.com/images/property/819-1.jpg" alt="property image" class="property-img js-expand-property">
                </div>
				<div class="property-slider">
					<div class="slider">
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/819-1.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/819-2.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/819-3.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/819-4.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/819-5.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/819-6.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/819-7.jpg" alt="image"></div>
					</div>
				</div>
			</div>
			<div class="property-right">
				<div class="property-data">
					<div class="property-data-inner">
						<h2 class="property-name js-expand-property">Blackfriars Road
							<span class="distance-from-address"></span>
						</h2>
						<div class="property-desc">
							<p>Located conveniently close to London’s South Bank. And, if you want to cycle to work, The Foundry is situated on the North-South Cycling Superhighway Route. The business centre is equipped with a secure bicycle storage area and two showers and you’ll also have free access to the  gym in our sister building, Waterloo House, which is just a 3 minute walk away. The award winning restaurant Laughing Gravy’ is next door to the business centre, as well as Caffé Deniro for breakfast, lunch and sandwiches. The London serviced offices at the Foundry are also situated close to the newly built Southwark Station (Jubilee Line), and just a 5 minute walk from Waterloo Station.</p>
						</div>
						<div class="property-persons">
							<p>7&nbsp;person office available - prices start from &pound;2,793 a month</p>
							<p>Including phone and internet costs</p>
							<!--<p>4 person office from <span class="property-price">£2000 pm</span></p>
							    <p>6 person office from <span class="property-price">£2500 pm</span></p>-->
						</div>
						<ul
							class="property-facilities"><!--<li>Includes IT and Telecoms infrastructure</li>
								    <li>Free parking</li>-->
						</ul>
					</div>
					<ul class="tabs-nav">
						<li class="js-tab-link tab-link current">Features</li>
						<li class="js-tab-link tab-link">Location</li>
					</ul>
				</div>
				<div class="property-actions">
					<a href="javascript:;" class="shrink-property js-shrink-property">
						{{icon('icon-close', 'icon--9-9')}}
					</a>
					<div class="open-shortlist">
						<a href="javascript:;" class="js-property-data js-add-to-shortlist shortlist-btn-add" data-property-id="property-819" data-lat="51.5011630" data-lng="-0.1049000" data-name="Blackfriars Road" data-image="http://b.easyoffices.com/images/property/819-1.jpg">Add to
							shortlist</a>
						<a href="javascript:;" class="js-remove-from-shortlist shortlist-btn-remove hide" data-property-id="property-819" data-name="Blackfriars Road" data-image="images/property-name-1.jpg">Take off shortlist</a>
					</div>
					<a href="javascript:;" class="js-expand-property expand-property-btn icon-rounded-wrap">
						<span class="icon-rounded">
							{{icon('icon-arrow-right', 'icon--9-9')}}
						</span>
						Learn more
					</a>
				</div>
			</div>
		</div>
		<div class="property-info-bottom">
			<div class="tabs-content-group">
				<div class="js-tab-content tab-content current">
					<ul class="facilities-list">
						<li data-facility="showers">Showers</li>
						<li data-facility="meetingrooms">Meeting Rooms</li>
						<li data-facility="secretarialsupport">Secretarial Support</li>
						<li data-facility="aircon">Aircon</li>
						<li data-facility="disabledfacilities">Disabled Facilities</li>
						<li data-facility="fullyfurnished">Fully Furnished</li>
						<li data-facility="lifts">Lifts</li>
						<li data-facility="gym">Gym</li>
						<li data-facility="mannedreception">Manned Reception</li>
						<li data-facility="rollingmonthlycontracts">Rolling Monthly Contracts</li>
						<li data-facility="breakoutareas">Breakout Areas</li>
						<li data-facility="bikeracks">Bike Racks</li>
						<li data-facility="cctv">CCTV</li>
						<li data-facility="virtualoffices">Virtual Offices</li>
						<li data-facility="highspeedbroadband">High Speed Broadband</li>
					</ul>
					<p class="prices-info">
						Please note that these prices may be negotiable further once offices are viewed but we are happy to discuss this with you in more detail.
					</p>
				</div>
				<div class="js-tab-content tab-content tab-content-second">
					<div class="map-with-directions">
						<div class="maps-aditional-info">
							<ul>
								<li>
									{{icon('icon-railway', 'icon-map icon--18-21')}}
									<span class="direction-info">London Waterloo East 0.3 Miles (0.4 km)</span>
								</li>
								<li>
									{{icon('icon-highway', 'icon-map icon--20-20')}}
									<span class="direction-info">M1 Jnct 1 7.2 Miles (11.5km)</span>
								</li>
								<li>
									{{icon('icon-airport', 'icon-map icon--20-20')}}
									<span class="direction-info">London City Airport 6.6 Miles (10.5 km)</span>
								</li>
								<li></li>
								<li>
									<div class="icon-rounded-wrap show">
										<a href="javascript:;" class="get-directions js-get-directions" data-lat="51.5011630" data-lng="-0.1049000" data-map="map-6">
											<span class="icon-rounded">
												{{icon('icon-arrow-right', 'icon--9-9')}}
											</span>
											Get directions</a>
									</div>
								</li>
							</ul>
						</div>
						<div class="map-wrap">
							<a href="javascript:;" class="js-street-view-link street-view-link" data-lat="51.5011630" data-lng="-0.1049000" data-map="map-6">Street View</a>
							<div class="maps" data-lat="51.5011630" data-lng="-0.1049000" data-map="map-6"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="property-8" data-price="150" data-defaultprice="7" data-idoffice="3324" class="js-open-map-item property-list-item js-property-list-item js-tab-group" data-markerindex="7">
		<div class="property-info">
			<div class="property-left">
                <div class="property-img-wrap">
                    <img src="http://b.easyoffices.com/images/property/WaterlooRoad_3324_5819d3ebe3277.jpg" alt="property image" class="property-img js-expand-property">
                </div>
				<div class="property-slider">
					<div class="slider">
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/WaterlooRoad_3324_5819d3ebe3277.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/WaterlooRoad_3324_5819d3ebe412d.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/WaterlooRoad_3324_5819d3ebe4cb8.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/WaterlooRoad_3324_5819d3ebe568d.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/WaterlooRoad_3324_5819d3ebe6000.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/WaterlooRoad_3324_5819d3ebef23f.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/WaterlooRoad_3324_5819d3ebefc6f.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/WaterlooRoad_3324_5819d3ebf0b63.jpg" alt="image"></div>
					</div>
				</div>
			</div>
			<div class="property-right">
				<div class="property-data">
					<div class="property-data-inner">
						<h2 class="property-name js-expand-property">Waterloo Road
							<span class="distance-from-address"></span>
						</h2>
						<div class="property-desc">
							<p>Our serviced offices provide a perfect location for clients looking for office space with good transport links in and out of the the City.</p>
						</div>
						<div class="property-persons">
							<p>7&nbsp;person office available - prices start from &pound;3,150 a month</p>
							<!--<p>4 person office from <span class="property-price">£2000 pm</span></p>
							    <p>6 person office from <span class="property-price">£2500 pm</span></p>-->
						</div>
						<ul
							class="property-facilities"><!--<li>Includes IT and Telecoms infrastructure</li>
								    <li>Free parking</li>-->
						</ul>
					</div>
					<ul class="tabs-nav">
						<li class="js-tab-link tab-link current">Features</li>
						<li class="js-tab-link tab-link">Location</li>
					</ul>
				</div>
				<div class="property-actions">
					<a href="javascript:;" class="shrink-property js-shrink-property">
						{{icon('icon-close', 'icon--9-9')}}
					</a>
					<div class="open-shortlist">
						<a href="javascript:;" class="js-property-data js-add-to-shortlist shortlist-btn-add" data-property-id="property-3324" data-lat="51.5033230" data-lng="-0.1112390" data-name="Waterloo Road" data-image="http://b.easyoffices.com/images/property/WaterlooRoad_3324_5819d3ebe3277.jpg">Add to
							shortlist</a>
						<a href="javascript:;" class="js-remove-from-shortlist shortlist-btn-remove hide" data-property-id="property-3324" data-name="Waterloo Road" data-image="images/property-name-1.jpg">Take off shortlist</a>
					</div>
					<a href="javascript:;" class="js-expand-property expand-property-btn icon-rounded-wrap">
						<span class="icon-rounded">
							{{icon('icon-arrow-right', 'icon--9-9')}}
						</span>
						Learn more
					</a>
				</div>
			</div>
		</div>
		<div class="property-info-bottom">
			<div class="tabs-content-group">
				<div class="js-tab-content tab-content current">
					<ul class="facilities-list">
						<li data-facility="showers">Showers</li>
						<li data-facility="meetingrooms">Meeting Rooms</li>
						<li data-facility="secretarialsupport">Secretarial Support</li>
						<li data-facility="wifi">Wifi</li>
						<li data-facility="onsitecatering">On Site Catering</li>
						<li data-facility="videoconferencing">Videoconferencing</li>
						<li data-facility="parking">Parking</li>
						<li data-facility="aircon">Aircon</li>
						<li data-facility="24hraccess">24 Hr Access</li>
						<li data-facility="disabledfacilities">Disabled Facilities</li>
						<li data-facility="fullyfurnished">Fully Furnished</li>
						<li data-facility="lifts">Lifts</li>
						<li data-facility="mannedreception">Manned Reception</li>
						<li data-facility="rollingmonthlycontracts">Rolling Monthly Contracts</li>
						<li data-facility="breakoutareas">Breakout Areas</li>
						<li data-facility="bikeracks">Bike Racks</li>
						<li data-facility="cctv">CCTV</li>
						<li data-facility="virtualoffices">Virtual Offices</li>
						<li data-facility="itsupport">IT Support</li>
						<li data-facility="highspeedbroadband">High Speed Broadband</li>
					</ul>
					<p class="prices-info">
						Please note that these prices may be negotiable further once offices are viewed but we are happy to discuss this with you in more detail.
					</p>
				</div>
				<div class="js-tab-content tab-content tab-content-second">
					<div class="map-with-directions">
						<div class="maps-aditional-info">
							<ul>
								<li>
									{{icon('icon-railway', 'icon-map icon--18-21')}}
									<span class="direction-info">London Waterloo 0 Miles (0.1 km)</span>
								</li>
								<li>
									{{icon('icon-highway', 'icon-map icon--20-20')}}
									<span class="direction-info">M1 Jnct 1 6.9 Miles (11.1km)</span>
								</li>
								<li>
									{{icon('icon-airport', 'icon-map icon--20-20')}}
									<span class="direction-info">London City Airport 6.8 Miles (11 km)</span>
								</li>
								<li></li>
								<li>
									<div class="icon-rounded-wrap show">
										<a href="javascript:;" class="get-directions js-get-directions" data-lat="51.5033230" data-lng="-0.1112390" data-map="map-7">
											<span class="icon-rounded">
												{{icon('icon-arrow-right', 'icon--9-9')}}
											</span>
											Get directions</a>
									</div>
								</li>
							</ul>
						</div>
						<div class="map-wrap">
							<a href="javascript:;" class="js-street-view-link street-view-link" data-lat="51.5033230" data-lng="-0.1112390" data-map="map-7">Street View</a>
							<div class="maps" data-lat="51.5033230" data-lng="-0.1112390" data-map="map-7"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="property-9" data-price="800" data-defaultprice="8" data-idoffice="21902" class="js-open-map-item property-list-item js-property-list-item js-tab-group" data-markerindex="8">
		<div class="property-info">
			<div class="property-left">
                <div class="property-img-wrap">
                    <img src="http://b.easyoffices.com/images/property/21902-1.jpg" alt="property image" class="property-img js-expand-property">
                </div>
				<div class="property-slider">
					<div class="slider">
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/21902-1.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/21902-2.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/21902-3.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/21902-4.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/21902-5.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/21902-6.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/21902-7.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/21902-8.jpg" alt="image"></div>
					</div>
				</div>
			</div>
			<div class="property-right">
				<div class="property-data">
					<div class="property-data-inner">
						<h2 class="property-name js-expand-property">Lydden Road
							<span class="distance-from-address"></span>
						</h2>
						<div class="property-desc">
							<p>These Earlsfield serviced offices are ideally situated between Wandsworth town centre and Earlsfield.  They are just 5 minutes walk from Earlsfield mainline station (12 minutes to Waterloo) and local bus services.</p>
						</div>
						<div class="property-persons">
							<p>8&nbsp;person office available - prices start from &pound;1,800 a month</p>
							<p>Including phone and internet costs</p>
							<!--<p>4 person office from <span class="property-price">£2000 pm</span></p>
							    <p>6 person office from <span class="property-price">£2500 pm</span></p>-->
						</div>
						<ul
							class="property-facilities"><!--<li>Includes IT and Telecoms infrastructure</li>
								    <li>Free parking</li>-->
						</ul>
					</div>
					<ul class="tabs-nav">
						<li class="js-tab-link tab-link current">Features</li>
						<li class="js-tab-link tab-link">Location</li>
					</ul>
				</div>
				<div class="property-actions">
					<a href="javascript:;" class="shrink-property js-shrink-property">
						{{icon('icon-close', 'icon--9-9')}}
					</a>
					<div class="open-shortlist">
						<a href="javascript:;" class="js-property-data js-add-to-shortlist shortlist-btn-add" data-property-id="property-21902" data-lat="51.4468800" data-lng="-0.1902400" data-name="Lydden Road" data-image="http://b.easyoffices.com/images/property/21902-1.jpg">Add to
							shortlist</a>
						<a href="javascript:;" class="js-remove-from-shortlist shortlist-btn-remove hide" data-property-id="property-21902" data-name="Lydden Road" data-image="images/property-name-1.jpg">Take off shortlist</a>
					</div>
					<a href="javascript:;" class="js-expand-property expand-property-btn icon-rounded-wrap">
						<span class="icon-rounded">
							{{icon('icon-arrow-right', 'icon--9-9')}}
						</span>
						Learn more
					</a>
				</div>
			</div>
		</div>
		<div class="property-info-bottom">
			<div class="tabs-content-group">
				<div class="js-tab-content tab-content current">
					<ul class="facilities-list">
						<li data-facility="showers">Showers</li>
						<li data-facility="meetingrooms">Meeting Rooms</li>
						<li data-facility="onsitecatering">On Site Catering</li>
						<li data-facility="24hraccess">24 Hr Access</li>
						<li data-facility="disabledfacilities">Disabled Facilities</li>
						<li data-facility="mannedreception">Manned Reception</li>
						<li data-facility="rollingmonthlycontracts">Rolling Monthly Contracts</li>
						<li data-facility="breakoutareas">Breakout Areas</li>
						<li data-facility="bikeracks">Bike Racks</li>
						<li data-facility="cctv">CCTV</li>
						<li data-facility="virtualoffices">Virtual Offices</li>
						<li data-facility="itsupport">IT Support</li>
						<li data-facility="highspeedbroadband">High Speed Broadband</li>
					</ul>
					<p class="prices-info">
						Please note that these prices may be negotiable further once offices are viewed but we are happy to discuss this with you in more detail.
					</p>
				</div>
				<div class="js-tab-content tab-content tab-content-second">
					<div class="map-with-directions">
						<div class="maps-aditional-info">
							<ul>
								<li>
									{{icon('icon-railway', 'icon-map icon--18-21')}}
									<span class="direction-info">Earlsfield 0.3 Miles (0.5 km)</span>
								</li>
								<li>
									{{icon('icon-highway', 'icon-map icon--20-20')}}
									<span class="direction-info">M4 7.2 miles</span>
								</li>
								<li>
									{{icon('icon-airport', 'icon-map icon--20-20')}}
									<span class="direction-info">London City Airport 11 Miles (18 km)</span>
								</li>
								<li></li>
								<li>
									<div class="icon-rounded-wrap show">
										<a href="javascript:;" class="get-directions js-get-directions" data-lat="51.4468800" data-lng="-0.1902400" data-map="map-8">
											<span class="icon-rounded">
												{{icon('icon-arrow-right', 'icon--9-9')}}
											</span>
											Get directions</a>
									</div>
								</li>
							</ul>
						</div>
						<div class="map-wrap">
							<a href="javascript:;" class="js-street-view-link street-view-link" data-lat="51.4468800" data-lng="-0.1902400" data-map="map-8">Street View</a>
							<div class="maps" data-lat="51.4468800" data-lng="-0.1902400" data-map="map-8"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="property-10" data-price="488" data-defaultprice="9" data-idoffice="25225" class="js-open-map-item property-list-item js-property-list-item js-tab-group" data-markerindex="9">
		<div class="property-info">
			<div class="property-left">
                <div class="property-img-wrap">
                    <img src="http://b.easyoffices.com/images/property/25225-1.jpg" alt="property image" class="property-img js-expand-property">
                </div>
				<div class="property-slider">
					<div class="slider">
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/25225-1.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/25225-2.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/25225-3.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/25225-4.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/25225-5.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/25225-6.jpg" alt="image"></div>
						<div class="slider-item"><img src="http://b.easyoffices.com/images/property/25225-7.jpg" alt="image"></div>
					</div>
				</div>
			</div>
			<div class="property-right">
				<div class="property-data">
					<div class="property-data-inner">
						<h2 class="property-name js-expand-property">Mount Pleasant
							<span class="distance-from-address"></span>
						</h2>
						<div class="property-desc">
							<p>Close proximity to Exmouth market. 2 minutes walk from Mount Pleasant Royal Mail sorting office. A few minutes walk from Farringdon and Grays Inn Road. 10 minutes walk from Kings Cross St Pancras station. 7 minutes walk from Chancery Lane station.</p>
						</div>
						<div class="property-persons">
							<p>6&nbsp;person office available - prices start from &pound;3,488 a month</p>
							<p>7&nbsp;person office available - prices start from &pound;4,217 a month</p>
							<!--<p>4 person office from <span class="property-price">£2000 pm</span></p>
							    <p>6 person office from <span class="property-price">£2500 pm</span></p>-->
						</div>
						<ul
							class="property-facilities"><!--<li>Includes IT and Telecoms infrastructure</li>
								    <li>Free parking</li>-->
						</ul>
					</div>
					<ul class="tabs-nav">
						<li class="js-tab-link tab-link current">Features</li>
						<li class="js-tab-link tab-link">Location</li>
					</ul>
				</div>
				<div class="property-actions">
					<a href="javascript:;" class="shrink-property js-shrink-property">
						{{icon('icon-close', 'icon--9-9')}}
					</a>
					<div class="open-shortlist">
						<a href="javascript:;" class="js-property-data js-add-to-shortlist shortlist-btn-add" data-property-id="property-25225" data-lat="51.5234720" data-lng="-0.1121740" data-name="Mount Pleasant" data-image="http://b.easyoffices.com/images/property/25225-1.jpg">Add to
							shortlist</a>
						<a href="javascript:;" class="js-remove-from-shortlist shortlist-btn-remove hide" data-property-id="property-25225" data-name="Mount Pleasant" data-image="images/property-name-1.jpg">Take off shortlist</a>
					</div>
					<a href="javascript:;" class="js-expand-property expand-property-btn icon-rounded-wrap">
						<span class="icon-rounded">
							{{icon('icon-arrow-right', 'icon--9-9')}}
						</span>
						Learn more
					</a>
				</div>
			</div>
		</div>
		<div class="property-info-bottom">
			<div class="tabs-content-group">
				<div class="js-tab-content tab-content current">
					<ul class="facilities-list">
						<li data-facility="secretarialsupport">Secretarial Support</li>
						<li data-facility="aircon">Aircon</li>
						<li data-facility="24hraccess">24 Hr Access</li>
						<li data-facility="fullyfurnished">Fully Furnished</li>
						<li data-facility="breakoutareas">Breakout Areas</li>
						<li data-facility="highspeedbroadband">High Speed Broadband</li>
					</ul>
					<p class="prices-info">
						Please note that these prices may be negotiable further once offices are viewed but we are happy to discuss this with you in more detail.
					</p>
				</div>
				<div class="js-tab-content tab-content tab-content-second">
					<div class="map-with-directions">
						<div class="maps-aditional-info">
							<ul>
								<li>
									{{icon('icon-railway', 'icon-map icon--18-21')}}
									<span class="direction-info">Farringdon 0.4 Miles (0.6 km)</span>
								</li>
								<li>
									{{icon('icon-highway', 'icon-map icon--20-20')}}
									<span class="direction-info">M4 9.5 Miles</span>
								</li>
								<li>
									{{icon('icon-airport', 'icon-map icon--20-20')}}
									<span class="direction-info">London City Airport 7 Miles (11.2 km)</span>
								</li>
								<li></li>
								<li>
									<div class="icon-rounded-wrap show">
										<a href="javascript:;" class="get-directions js-get-directions" data-lat="51.5234720" data-lng="-0.1121740" data-map="map-9">
											<span class="icon-rounded">
												{{icon('icon-arrow-right', 'icon--9-9')}}
											</span>
											Get directions</a>
									</div>
								</li>
							</ul>
						</div>
						<div class="map-wrap">
							<a href="javascript:;" class="js-street-view-link street-view-link" data-lat="51.5234720" data-lng="-0.1121740" data-map="map-9">Street View</a>
							<div class="maps" data-lat="51.5234720" data-lng="-0.1121740" data-map="map-9"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="property-11" data-price="643" data-defaultprice="10" data-idoffice="3675" class="js-open-map-item property-list-item js-property-list-item js-tab-group" data-markerindex="10">
		<div class="property-info">
			<div class="property-left">
                <div class="property-img-wrap">
                    <img src="http://b.easyoffices.com/images/property/3675-1.jpg" alt="property image" class="property-img js-expand-property">
                </div>
				<div class="property-slider">
                    <div class="slider">
                        <div class="slider-item"><img src="http://b.easyoffices.com/images/property/3675-1.jpg" alt="image"></div>
                        <div class="slider-item"><img src="http://b.easyoffices.com/images/property/3675-2.jpg" alt="image"></div>
                        <div class="slider-item"><img src="http://b.easyoffices.com/images/property/3675-3.jpg" alt="image"></div>
                        <div class="slider-item"><img src="http://b.easyoffices.com/images/property/3675-4.jpg" alt="image"></div>
                        <div class="slider-item"><img src="http://b.easyoffices.com/images/property/3675-5.jpg" alt="image"></div>
                        <div class="slider-item"><img src="http://b.easyoffices.com/images/property/3675-6.jpg" alt="image"></div>
                        <div class="slider-item"><img src="http://b.easyoffices.com/images/property/3675-1.jpg" alt="image"></div>
                    </div>
				</div>
			</div>
			<div class="property-right">
				<div class="property-data">
					<div class="property-data-inner">
						<h2 class="property-name js-expand-property">Grays Inn Road
							<span class="distance-from-address"></span>
						</span>
					</h2>
					<div class="property-desc">
						<p>The serviced office in Kings Cross is located just 10 minutes away from Euston, connecting you easily with cities such as Nottingham, Leeds and Manchester. Also conveniently nearby; London Luton Airport, making commuting a little more hassle free.  Situated in the City, only a couple of minutes walk from Kings Cross station and Thameslink.</p>
					</div>
					<div class="property-persons">
						<p>7&nbsp;person office available - prices start from £2,643 a month</p>
						<p>Including phone and internet costs</p>
						<!--<p>4 person office from <span class="property-price">£2000 pm</span></p>
						    <p>6 person office from <span class="property-price">£2500 pm</span></p>-->
					</div>
					<ul
						class="property-facilities"><!--<li>Includes IT and Telecoms infrastructure</li>
							    <li>Free parking</li>-->
					</ul>
				</div>
				<ul class="tabs-nav">
					<li class="js-tab-link tab-link current" data-tab="tab-20">Features</li>
					<li class="js-tab-link tab-link" data-tab="tab-21">Location</li>
				</ul>
			</div>
			<div class="property-actions">
				<a href="javascript:;" class="shrink-property js-shrink-property">
					{{icon('icon-close', 'icon--9-9')}}
				</a>
				<div class="open-shortlist">
					<a href="javascript:;" class="js-property-data js-add-to-shortlist shortlist-btn-add" data-property-id="property-3675" data-lat="51.5298840" data-lng="-0.1201410" data-name="Grays Inn Road" data-image="http://b.easyoffices.com/images/property/3675-1.jpg">Add to
						shortlist</a>
					<a href="javascript:;" class="js-remove-from-shortlist shortlist-btn-remove hide" data-property-id="property-3675" data-name="Grays Inn Road" data-image="images/property-name-1.jpg">Take off shortlist</a>
				</div>
				<a href="javascript:;" class="js-expand-property expand-property-btn icon-rounded-wrap">
					<span class="icon-rounded">
						{{icon('icon-arrow-right', 'icon--9-9')}}
					</span>
					Learn more
				</a>
			</div>
		</div>
	</div>
	<div class="property-info-bottom">
		<div class="tabs-content-group">
			<div class="js-tab-content tab-content current" id="tab-20">
				<ul class="facilities-list">
					<li data-facility="meetingrooms">Meeting Rooms</li>
					<li data-facility="24hraccess">24 Hr Access</li>
					<li data-facility="disabledfacilities">Disabled Facilities</li>
					<li data-facility="breakoutareas">Breakout Areas</li>
				</ul>
				<p class="prices-info">
					Please note that these prices may be negotiable further once offices are viewed but we are happy to discuss this with you in more detail.
				</p>
			</div>
			<div class="js-tab-content tab-content tab-content-second" id="tab-21">
				<div class="map-with-directions">
					<div class="maps-aditional-info">
						<ul>
							<li>
								{{icon('icon-railway', 'icon-map icon--18-21')}}
								<span class="direction-info">London Kings Cross 0.2 Miles (0.3 km)</span>
							</li>
							<li>
								{{icon('icon-highway', 'icon-map icon--20-20')}}
								<span class="direction-info">M1 Jnct 1 5.4 Miles (8.7km)</span>
							</li>
							<li>
								{{icon('icon-airport', 'icon-map icon--20-20')}}
								<span class="direction-info">London City Airport 7.4 Miles (11.9 km)</span>
							</li>
							<li></li>
							<li>
								<div class="icon-rounded-wrap show">
									<a href="javascript:;" class="get-directions js-get-directions" data-lat="51.5298840" data-lng="-0.1201410" data-map="map-10">
										<span class="icon-rounded">
											{{icon('icon-arrow-right', 'icon--9-9')}}
										</span>
										Get directions</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="map-wrap">
						<a href="javascript:;" class="js-street-view-link street-view-link" data-lat="51.5298840" data-lng="-0.1201410" data-map="map-10">Street View</a>
						<div class="maps" data-lat="51.5298840" data-lng="-0.1201410" data-map="map-10" id="map-10"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="property-12" data-price="805" data-defaultprice="11" data-idoffice="3587" class="js-open-map-item property-list-item js-property-list-item js-tab-group" data-markerindex="11">
	<div class="property-info">
		<div class="property-left">
			<div class="property-img-wrap">
				<img src="http://b.easyoffices.com/images/property/3587-1.jpg" alt="property image" class="property-img js-expand-property">
			</div>
			<div class="property-slider">
				<div class="slider">
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/3587-1.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/3587-2.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/3587-3.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/3587-4.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/3587-5.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/3587-6.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/3587-7.jpg" alt="image"></div>
				</div>
			</div>
		</div>
		<div class="property-right">
			<div class="property-data">
				<div class="property-data-inner">
					<h2 class="property-name js-expand-property">Floral Street
						<span class="distance-from-address"></span>
					</h2>
					<div class="property-desc">
						<p>This serviced office is in Covent Garden with everything on your doorstep: restaurants, bars and cafes.</p>
					</div>
					<div class="property-persons">
						<p>7&nbsp;person office available - prices start from &pound;3,805 a month</p>
						<p>Including phone and internet costs</p>
						<!--<p>4 person office from <span class="property-price">£2000 pm</span></p>
						                            <p>6 person office from <span class="property-price">£2500 pm</span></p>-->
					</div>
					<ul
						class="property-facilities"><!--<li>Includes IT and Telecoms infrastructure</li>
							                            <li>Free parking</li>-->
					</ul>
				</div>
				<ul class="tabs-nav">
					<li class="js-tab-link tab-link current">Features</li>
					<li class="js-tab-link tab-link">Location</li>
				</ul>
			</div>
			<div class="property-actions">
				<a href="javascript:;" class="shrink-property js-shrink-property">
					{{icon('icon-close', 'icon--9-9')}}
				</a>
				<div class="open-shortlist">
					<a href="javascript:;" class="js-property-data js-add-to-shortlist shortlist-btn-add" data-property-id="property-3587" data-lat="51.5120120" data-lng="-0.1251210" data-name="Floral Street" data-image="http://b.easyoffices.com/images/property/3587-1.jpg">Add to
						                    shortlist</a>
					<a href="javascript:;" class="js-remove-from-shortlist shortlist-btn-remove hide" data-property-id="property-3587" data-name="Floral Street" data-image="images/property-name-1.jpg">Take off shortlist</a>
				</div>
				<a href="javascript:;" class="js-expand-property expand-property-btn icon-rounded-wrap">
					<span class="icon-rounded">
						{{icon('icon-arrow-right', 'icon--9-9')}}
					</span>
					Learn more
				</a>
			</div>
		</div>
	</div>
	<div class="property-info-bottom">
		<div class="tabs-content-group">
			<div class="js-tab-content tab-content current">
				<ul class="facilities-list">
					<li data-facility="meetingrooms">Meeting Rooms</li>
					<li data-facility="secretarialsupport">Secretarial Support</li>
					<li data-facility="wifi">Wifi</li>
					<li data-facility="fullyfurnished">Fully Furnished</li>
					<li data-facility="mannedreception">Manned Reception</li>
					<li data-facility="hotdesks">Hot Desks</li>
					<li data-facility="rollingmonthlycontracts">Rolling Monthly Contracts</li>
					<li data-facility="breakoutareas">Breakout Areas</li>
					<li data-facility="cctv">CCTV</li>
					<li data-facility="virtualoffices">Virtual Offices</li>
					<li data-facility="coworkingsharedspace">Co Working/Shared Space</li>
					<li data-facility="itsupport">IT Support</li>
					<li data-facility="highspeedbroadband">High Speed Broadband</li>
				</ul>
				<p class="prices-info">
					Please note that these prices may be negotiable further once offices are viewed but we are happy to discuss this with you in more detail.
				</p>
			</div>
			<div class="js-tab-content tab-content tab-content-second">
				<div class="map-with-directions">
					<div class="maps-aditional-info">
						<ul>
							<li>
								{{icon('icon-railway', 'icon-map icon--18-21')}}
								<span class="direction-info">Charing Cross 0.3 Miles (0.4 km)</span>
							</li>
							<li>
								{{icon('icon-highway', 'icon-map icon--20-20')}}
								<span class="direction-info">M1 Jnct 1 6.1 Miles (9.8km)</span>
							</li>
							<li>
								{{icon('icon-airport', 'icon-map icon--20-20')}}
								<span class="direction-info">London City Airport 7.4 Miles (12 km)</span>
							</li>
							<li></li>
							<li>
								<div class="icon-rounded-wrap show">
									<a href="javascript:;" class="get-directions js-get-directions" data-lat="51.5120120" data-lng="-0.1251210" data-map="map-11">
										<span class="icon-rounded">
											{{icon('icon-arrow-right', 'icon--9-9')}}
										</span>
										Get directions</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="map-wrap">
						<a href="javascript:;" class="js-street-view-link street-view-link" data-lat="51.5120120" data-lng="-0.1251210" data-map="map-11">Street View</a>
						<div class="maps" data-lat="51.5120120" data-lng="-0.1251210" data-map="map-11"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="property-13" data-price="994" data-defaultprice="12" data-idoffice="263" class="js-open-map-item property-list-item js-property-list-item js-tab-group" data-markerindex="12">
	<div class="property-info">
		<div class="property-left">
            <div class="property-img-wrap">
                <img src="http://b.easyoffices.com/images/property/LongAcre_263_5552125d2691e.jpg" alt="property image" class="property-img js-expand-property">
            </div>
			<div class="property-slider">
				<div class="slider">
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/LongAcre_263_5552125d2691e.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/LongAcre_263_5552125d274b1.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/LongAcre_263_5552125d27f19.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/LongAcre_263_5552125d28843.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/LongAcre_263_5552125d2926f.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/LongAcre_263_5552125d29bc4.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/LongAcre_263_5552125d2a5b4.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/LongAcre_263_5552125d2af41.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/LongAcre_263_5552125d2b952.jpg" alt="image"></div>
					<div class="slider-item"><img src="http://b.easyoffices.com/images/property/LongAcre_263_5552125d2c2d9.jpg" alt="image"></div>
				</div>
			</div>
		</div>
		<div class="property-right">
			<div class="property-data">
				<div class="property-data-inner">
					<h2 class="property-name js-expand-property">Long Acre
						<span class="distance-from-address"></span>
					</h2>
					<div class="property-desc">
						<p>The Covent Garden Serviced Offices are surrounded by a variety of shops, boutiques and a diverse range of businesses. It is only minutes from Covent Garden tube station and major bus routes. Holborn is also within walking distance if you wish to wine and dine or the hustle and bustle of Leicester Square is within easy reach.</p>
					</div>
					<div class="property-persons">
						<p>8&nbsp;person office available - prices start from &pound;3,994 a month</p>
						<p>Including phone and internet costs</p>
						<!--<p>4 person office from <span class="property-price">£2000 pm</span></p>
						                            <p>6 person office from <span class="property-price">£2500 pm</span></p>-->
					</div>
					<ul class="property-facilities">
                        <!--<li>Includes IT and Telecoms infrastructure</li>
						<li>Free parking</li>-->
					</ul>
				</div>
				<ul class="tabs-nav">
					<li class="js-tab-link tab-link current">Features</li>
					<li class="js-tab-link tab-link">Location</li>
				</ul>
			</div>
			<div class="property-actions">
				<a href="javascript:;" class="shrink-property js-shrink-property">
					{{icon('icon-close', 'icon--9-9')}}
				</a>
				<div class="open-shortlist">
					<a href="javascript:;" class="js-property-data js-add-to-shortlist shortlist-btn-add" data-property-id="property-263" data-lat="51.5141720" data-lng="-0.1233100" data-name="Long Acre" data-image="http://b.easyoffices.com/images/property/LongAcre_263_5552125d2691e.jpg">Add to
						                    shortlist</a>
					<a href="javascript:;" class="js-remove-from-shortlist shortlist-btn-remove hide" data-property-id="property-263" data-name="Long Acre" data-image="images/property-name-1.jpg">Take off shortlist</a>
				</div>
				<a href="javascript:;" class="js-expand-property expand-property-btn icon-rounded-wrap">
					<span class="icon-rounded">
						{{icon('icon-arrow-right', 'icon--9-9')}}
					</span>
					Learn more
				</a>
			</div>
		</div>
	</div>
	<div class="property-info-bottom">
		<div class="tabs-content-group">
			<div class="js-tab-content tab-content current">
				<ul class="facilities-list">
					<li data-facility="meetingrooms">Meeting Rooms</li>
					<li data-facility="videoconferencing">Videoconferencing</li>
					<li data-facility="24hraccess">24 Hr Access</li>
					<li data-facility="disabledfacilities">Disabled Facilities</li>
					<li data-facility="businesslounges">Business Lounges</li>
					<li data-facility="breakoutareas">Breakout Areas</li>
					<li data-facility="cctv">CCTV</li>
				</ul>
				<p class="prices-info">
					Please note that these prices may be negotiable further once offices are viewed but we are happy to discuss this with you in more detail.
				</p>
			</div>
			<div class="js-tab-content tab-content tab-content-second">
				<div class="map-with-directions">
					<div class="maps-aditional-info">
						<ul>
							<li>
								{{icon('icon-railway', 'icon-map icon--18-21')}}
								<span class="direction-info">Charing Cross 0.4 Miles (0.7 km)</span>
							</li>
							<li>
								{{icon('icon-highway', 'icon-map icon--20-20')}}
								<span class="direction-info">M1 Jnct 1 6.0 Miles (9.6km)</span>
							</li>
							<li>
								{{icon('icon-airport', 'icon-map icon--20-20')}}
								<span class="direction-info">London City Airport 7.4 Miles (11.9 km)</span>
							</li>
							<li></li>
							<li>
								<div class="icon-rounded-wrap show">
									<a href="javascript:;" class="get-directions js-get-directions" data-lat="51.5141720" data-lng="-0.1233100" data-map="map-12">
										<span class="icon-rounded">
											{{icon('icon-arrow-right', 'icon--9-9')}}
										</span>
										Get directions</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="map-wrap">
						<a href="javascript:;" class="js-street-view-link street-view-link" data-lat="51.5141720" data-lng="-0.1233100" data-map="map-12">Street View</a>
						<div class="maps" data-lat="51.5141720" data-lng="-0.1233100" data-map="map-12"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
