<aside class="js-shortlist-overlay shortlist-overlay">
    <a href="javascript:;" class="js-close-shortlist-overlay close-shortlist-overlay">{{icon('icon-close', 'icon--20-20')}}</a>
    <form action="javascript:;" method="POST" id="forma" class="js-shortlist-steps shortlist-steps-form">
        <div class="shortlist-step js-shortlist-step is-active" data-index="1">
            <div class="shortlist-secondary">
                <div class="shortlist-info">
                    <h2 class="shortlist-info-title">Your shortlist</h2>
                    <p class="shortlist-info-desc">Choose up to 6 favourites and then book your viewings in 3 easy steps.</p>
                    <button class="js-next-step-submit btn btn-primary" type="button">Book viewings {{icon('icon-arrow-right', 'icon--20-20')}}</button>
                </div>
                <div class="shortlist-items"></div>
            </div>
        </div>
        <div class="shortlist-step js-shortlist-step" data-index="2" data-type="radio">
            <h2 class="shortlist-step-title">Step 1</h2>
            <p class="shortlist-step-desc">Choose the first office you want to viewings</p>
            <div class="js-shortlist-selected-items"></div>
        </div>
        <div class="shortlist-step js-shortlist-step" data-index="3" data-type='datepicker'>
            <h2 class="shortlist-step-title">Step 2</h2>
            <p class="shortlist-step-desc">Choose a day</p>
            <div id="datepicker" class="datepicker"></div>
        </div>
        <div class="shortlist-step js-shortlist-step" data-index="4" data-next="submit" data-type='radio'>
            <h2 class="shortlist-step-title">Step 3</h2>
            <p class="shortlist-step-desc">Choose a time</p>
            <div class="radio-time-fields">
                <div class="js-get-hour input-radio-time" data-hour="9">
                    <input class="input-radio" type="radio" id="time1" name="time" value="09:00">
                    <label class="label-time" for="time1">09:00</label>
                </div>
                <div class="js-get-hour input-radio-time" data-hour="10">
                    <input class="input-radio" type="radio" id="time2" name="time" value="10:00">
                    <label class="label-time" for="time2">10:00</label>
                </div>
                <div class="js-get-hour input-radio-time" data-hour="11">
                    <input class="input-radio" type="radio" id="time3" name="time" value="11:00">
                    <label class="label-time" for="time3">11:00</label>
                </div>
                <div class="js-get-hour input-radio-time" data-hour="12">
                    <input class="input-radio" type="radio" id="time4" name="time" value="12:00">
                    <label class="label-time" for="time4">12:00</label>
                </div>
                <div class="js-get-hour input-radio-time" data-hour="13">
                    <input class="input-radio" type="radio" id="time5" name="time" value="13:00">
                    <label class="label-time" for="time5">13:00</label>
                </div>
                <div class="js-get-hour input-radio-time" data-hour="14">
                    <input class="input-radio" type="radio" id="time6" name="time" value="14:00">
                    <label class="label-time" for="time6">14:00</label>
                </div>
                <div class="js-get-hour input-radio-time" data-hour="15">
                    <input class="input-radio" type="radio" id="time7" name="time" value="15:00">
                    <label class="label-time" for="time7">15:00</label>
                </div>
                <div class="js-get-hour input-radio-time" data-hour="16">
                    <input class="input-radio" type="radio" id="time8" name="time" value="16:00">
                    <label class="label-time" for="time8">16:00</label>
                </div>
                <div class="js-get-hour input-radio-time" data-hour="17">
                    <input class="input-radio" type="radio" id="time9" name="time" value="17:00">
                    <label class="label-time" for="time9">17:00</label>
                </div>
            </div>
        </div>
        <div class="js-shortlist-steps-nav shortlist-steps-nav">
            <button class="js-next-step-submit next-step-btn btn btn-primary" type="button">Next {{icon('icon-arrow-right', 'icon--20-20')}}</button>
            <a class="js-prev-step-submit icon-rounded-wrap"><span class="icon-rounded">{{icon('icon-arrow-right', 'icon--9-9 icon--arrow-right-reverse')}}</span>Back</a>
        </div>
    </form>
    <div class="js-shortlist-step-last shortlist-step-last">
        <h2 class="shortlist-step-title">Thank you</h2>
        <h4 class="thankyou-subtitle">We'll contact your chosen offices and then email you a Viewing Schedule</h4>
        <p class="thankyou-text">Please do not attend any viewings until you have confirmation from us. Call us on <a href="tel:02039447951">020 3944 7951</a> if you have any questions.</p>
        <p class="thankyou-schedule">Please check your spam folder if you haven't received your Viewing Schedule within 24 hours.</p>
    </div>
</aside>