<section class="properties-map">
    <div id="map"></div>
    <a href="tel:02039447951" class="phone">
        <div class="icon-phone-rounded">
            {{icon('icon-phone', 'icon--27-27')}}
            <p class="phone-popup">
                Would you like a free callback in 25 seconds
            </p>
        </div>
    </a>
</section>