<section id="properties" class="properties js-properties">
    <div class="properties-intro">
        <h1 class="properties-title">Hello <span class="properties-user">David</span></h1>
        <p class="properties-desc">We’ve found <span class="properties-number">13</span> properties that match your needs.
            Book a viewing online or call us with any questions.</p>
    </div>
    <div id="toSort" class="property-list">
        {% include "partial.properties-list-item.html" %}
    </div>
    <div class="js-view-all-properties-holder view-all-properties-holder">
        <a href="javascript:;" class="js-view-all-properties view-all-properties">View all properties</a>
    </div>
</section>