<header class="header">
	<div class="header-inner">
		<a href="/" class="logo">
			<img src="images/logo.png" alt="logo">
		</a>
		<div class="nav-main">
			<div class="search-wrap">
				<div class="search">
					<div class="js-search-item search-item">
						<a href="javascript:;" class="js-search-item-trigger search-item-trigger">Price</a>
						<form action="javascript:;" class="search-form" method="post">
							<div class="search-fields">
								<div class="checkbox-form-group">
									<input class="input-checkbox" type="radio" name="price-sorting" id="price-default" value="price-default" checked>
									<label class="checkbox-label" for="price-default">Price: Default</label>
								</div>
								<div class="checkbox-form-group">
									<input class="input-checkbox" type="radio" name="price-sorting" id="price-low-to-high" value="price-low-to-high">
									<label class="checkbox-label" for="price-low-to-high">Price: Low to high</label>
								</div>
								<div class="checkbox-form-group">
									<input class="input-checkbox" type="radio" name="price-sorting" id="price-high-to-low" value="price-high-to-low">
									<label class="checkbox-label" for="price-high-to-low">Price: High to low</label>
								</div>
							</div>
						</form>
					</div>
					<div class="js-search-item search-item">
						<a href="javascript:;" class="js-search-item-trigger search-item-trigger">Facilities</a>
						<form action="javascript:;" class="search-form" method="post">
							<div class="search-fields">

								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="showers" value="showers">
									<label class="checkbox-label" for="showers">Showers</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="meetingrooms" value="meetingrooms">
									<label class="checkbox-label" for="meetingrooms">Meeting Rooms</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="parking" value="parking">
									<label class="checkbox-label" for="parking">Parking</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="24hraccess" value="24hraccess">
									<label class="checkbox-label" for="24hraccess">24 Hr Access</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="disabledfacilities" value="disabledfacilities">
									<label class="checkbox-label" for="disabledfacilities">Disabled Facilities</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="lifts" value="lifts">
									<label class="checkbox-label" for="lifts">Lifts</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="breakoutareas" value="breakoutareas">
									<label class="checkbox-label" for="breakoutareas">Breakout Areas</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="bikeracks" value="bikeracks">
									<label class="checkbox-label" for="bikeracks">Bike Racks</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="businesslounges" value="businesslounges">
									<label class="checkbox-label" for="businesslounges">Business Lounges</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="cctv" value="cctv">
									<label class="checkbox-label" for="cctv">CCTV</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="coworkingsharedspace" value="coworkingsharedspace">
									<label class="checkbox-label" for="coworkingsharedspace">Co Working/Shared Space</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="secretarialsupport" value="secretarialsupport">
									<label class="checkbox-label" for="secretarialsupport">Secretarial Support</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="aircon" value="aircon">
									<label class="checkbox-label" for="aircon">Aircon</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="fullyfurnished" value="fullyfurnished">
									<label class="checkbox-label" for="fullyfurnished">Fully Furnished</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="gym" value="gym">
									<label class="checkbox-label" for="gym">Gym</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="mannedreception" value="mannedreception">
									<label class="checkbox-label" for="mannedreception">Manned Reception</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="rollingmonthlycontracts" value="rollingmonthlycontracts">
									<label class="checkbox-label" for="rollingmonthlycontracts">Rolling Monthly Contracts</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="virtualoffices" value="virtualoffices">
									<label class="checkbox-label" for="virtualoffices">Virtual Offices</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="highspeedbroadband" value="highspeedbroadband">
									<label class="checkbox-label" for="highspeedbroadband">High Speed Broadband</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="wifi" value="wifi">
									<label class="checkbox-label" for="wifi">Wifi</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="onsitecatering" value="onsitecatering">
									<label class="checkbox-label" for="onsitecatering">On Site Catering</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="videoconferencing" value="videoconferencing">
									<label class="checkbox-label" for="videoconferencing">Videoconferencing</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="itsupport" value="itsupport">
									<label class="checkbox-label" for="itsupport">IT Support</label>
								</div>
								<div class="checkbox-form-group">
									<input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="hotdesks" value="hotdesks">
									<label class="checkbox-label" for="hotdesks">Hot Desks</label>
								</div>
							</div>
							<div class="search-nav">
								<a href="javascript:;" class="js-clear-form clear-form">Clear</a>
							</div>
						</form>
					</div>
					<div class="js-search-item js-search-item-distance search-item search-item-distance">
						<a href="javascript:;" class="js-search-item-trigger search-item-trigger">Distance</a>
						<form action="javascript:;" class="search-form" method="post">
							<div class="search-fields">
								<div class="distance-slider-wrap">
									<input type="text" id="distance" readonly class="distance-data">
									<div id="distance-slider" class="distance-slider"></div>
								</div>
							</div>
							<div class="search-nav">
								<a href="javascript:;" class="js-clear-form clear-form">Clear</a>
								<button type="submit" class="btn btn-primary btn-small">Save</button>
							</div>
						</form>
					</div>
				</div>
				<input id="input-search" class="input-search" type="text" placeholder="Please add your address"/>
			</div>
			<div class="nav-right">
				<a href="#shortlist" class="short-list-link">
                    {{icon('icon-shortlist', 'icon--21-23')}}
					Your shortlist (<span class="js-short-list-number-of-items">0</span>)
				</a>
				<a href="tel:02039447951" class="contact-phone">Call 020 3944 7951</a>
			</div>
		</div>
		<a href="javascript:;" class="js-nav-menu nav-menu">
			<span class="nav-burger"></span>
		</a>
	</div>
</header>