<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-left">
                <img src="images/support.png" alt="easy offices support">
                <div class="footer-info">
                    <h2 class="footer-info-title">Here to help</h2>
                    <p class="footer-info-text">
                        Still not sure which location is right for you? Call us on <a href="tel:02039447951" class="footer-tel">020 3944 7951</a> with any questions or email
                        <a href="mailto:sally.hughes@easyoffices.com" class="footer-email">sally.hughes@easyoffices.com</a>
                    </p>
                </div>
            </div>
            <div class="footer-right">
                <dl class="sale-consultant">
                    <div class="dl-group">
                        <dt>Sally Hughes,</dt>
                        <dd>Sales Consultant</dd>
                    </div>
                    <div class="dl-group">
                        <dt>DDI:</dt>
                        <dd>01234 567890</dd>
                    </div>
                </dl>
                <div class="print-doc">
                    <a href="javascript:;" class="icon-rounded-wrap">
                        <span class="icon-rounded">{{icon('icon-arrow-right', 'icon--9-9')}}</span>
                        Print this document</a>
                </div>
            </div>
        </div>
    </div>
</footer>