<section class="shortlist" id="shortlist" data-total="0">
    <div class="container-medium">
        <div class="shortlist-inner">
            <div class="shortlist-info">
                <h2 class="shortlist-info-title">Your shortlist</h2>
                <p class="shortlist-info-desc">Choose up to 6 favourites and then book your viewings in 3 easy steps.</p>
                <button class="js-open-first-step btn btn-primary" type="button">Book viewings {{icon('icon-arrow-right', 'icon--20-20')}}</button>
            </div>
            <div class="shortlist-items">
                <a href="#properties" class="shortlist-item shortlist-item-empty">+</a>
                <a href="#properties" class="shortlist-item shortlist-item-empty">+</a>
                <a href="#properties" class="shortlist-item shortlist-item-empty">+</a>
                <a href="#properties" class="shortlist-item shortlist-item-empty">+</a>
                <a href="#properties" class="shortlist-item shortlist-item-empty">+</a>
                <a href="#properties" class="shortlist-item shortlist-item-empty">+</a>
            </div>
        </div>
    </div>
</section>