/* -----------------------------------------
   Mixins
   ----------------------------------------- */

@mixin clearfix {
	&:before,
	&:after {
	    content: "";
	    display: table;
	}
	&:after {
	    clear: both;
	}
	& {
	    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
	}
}

//Media queries mixins

// @mixin screen($res-min, $res-max) {
//     @media screen and (min-width: $res-min) and (max-width: $res-max) {
//         @content;
//     }
// }


// @mixin max-screen($res) {
//     @media screen and (max-width: $res) {
//         @content;
//     }
// }

// @mixin min-screen($res) {
//     @media screen and (min-width: $res) {
//         @content;
//     }
// }

// @mixin breakpoints($enabled-breakpoints) {
//     @include starterized-breakpoints($enabled-breakpoints);
// }

// @mixin screen-height($res-min, $res-max) {
//     @media screen and (min-height: $res-min) and (max-height: $res-max) {
//         @content;
//     }
// }

// @mixin max-screen-height($res) {
//     @media screen and (max-height: $res) {
//         @content;
//     }
// }

// @mixin min-screen-height($res) {
//     @media screen and (min-height: $res) {
//         @content;
//     }
// }

// @mixin max-screen-height-and-max-screen-width($res-height, $res-width) {
//     @media screen and (max-height: $res-height) and (max-width: $res-width) {
//         @content;
//     }
// }

// @mixin min-screen-height-and-min-screen-width($res-height, $res-width) {
//     @media screen and (min-height: $res-height) and (min-width: $res-width) {
//         @content;
//     }
// }

// @mixin portrait($res-width) {
//     @media screen and (orientation:portrait) and (max-width: $res-width) {
//         @content;
//     }
// }

// @mixin landscape($res-width) {
//     @media screen and (orientation:landscape) and (max-width: $res-width) {
//         @content;
//     }
// }


@mixin breakpoint($point) {
    //breakpoint for desktop device
    @if $point == desktop {
        @media (max-width: $desktop) {
            @content;
        }
    }

    //breakpoint for large-laptop device
    @else if $point == laptop-large {
        @media (max-width: $laptop-large) {
            @content;
        }
    }

    //breakpoint for laptop device
    @else if $point == laptop {
        @media (max-width: $laptop) {
            @content;
        }
    }

    //breakpoint for tablet device
    @else if $point == tablet {
        @media (max-width: $tablet) {
            @content;
        }
    }

    //breakpoint for phone device
    @else if $point == phone {
        @media (max-width: $phone) {
            @content;
        }
    }

    //breakpoint for min desktop device
    @else if $point == min-desktop {
        @media (min-width: $desktop) {
            @content;
        }
    }

     //breakpoint for min laptop-large device
    @else if $point == min-laptop-large {
        @media (min-width: $laptop-large) {
            @content;
        }
    }

    //breakpoint for min laptop device
    @else if $point == min-laptop {
        @media (min-width: $laptop) {
            @content;
        }
    }

    //breakpoint for min tablet device
    @else if $point == min-tablet {
        @media (min-width: $tablet) {
            @content;
        }
    }

    //breakpoint for min phone device
    @else if $point == min-phone {
        @media (min-width: $phone) {
            @content;
        }
    }

    //breakpoint min laptop-large max desktop
    @else if $point == min-laptop-large-max-desktop {
        @media (min-width: $laptop-large) and (max-width: $desktop) {
            @content;
        }
    }

    //breakpoint min laptop max laptop-large
    @else if $point == min-laptop-max-laptop-large {
        @media (min-width: $laptop) and (max-width: $laptop-large) {
            @content;
        }
    }

    //breakpoint min tablet max laptop
    @else if $point == min-tablet-max-laptop {
        @media (min-width: $tablet) and (max-width: $laptop) {
            @content;
        }
    }

    //breakpoint min tablet max laptop
    @else if $point == min-tablet-max-laptop {
        @media (min-width: $tablet) and (max-width: $laptop) {
            @content;
        }
    }

    //breakpoint min phone max tablet
    @else if $point == min-phone-max-tablet {
        @media (min-width: $phone) and (max-width: $tablet) {
            @content;
        }
    }
}


//animation mixin
@mixin anim ($delay, $duration, $animation, $function) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-timing-function: $function;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-timing-function: $function;
    -moz-animation-iteration-count: infinite;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-timing-function: $function;
    -o-animation-iteration-count: infinite;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-timing-function: $function;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

//INVISIBLE
@mixin invisible {
    opacity: 0;
    visibility: hidden;
}

//VISIBLE
@mixin visible {
    opacity: 1;
    visibility: visible;
}

//SELECTED TEXT MIXIN
@mixin selection($selection-background-color, $selection-text-color) {
    ::-moz-selection {
        background: $selection-background-color;
        color: $selection-text-color;
        text-shadow: none;
    }
    ::selection {
        background: $selection-background-color;
        color: $selection-text-color;
        text-shadow: none;
    }
}


//PLACEHOLDER INPUT
@mixin input-placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}


